.container{
    margin-left: 110px !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    width: auto !important;
    height: 100% !important;
}

.col-md-3{
    min-height: 100% !important;
}

.menu-item{
    height: 100vh;
    display: fixed !important; 
    top: 0px !important; 
    bottom: 0px !important;
}

.menu-item-text{
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-top: 50vh;
}

.first{
    background: #c7ad88;
}

.second{
    background: #64706c;
}

.third{
    background: #935347;
}

.first:hover{
    background: #a58f70;
}

.second:hover{
    background: #545e5b;
}

.third:hover{
    background: #66382f;
}
