body{
    background: url(/resources/images/title.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.presentation-logo{   
    max-width: 700px;
    margin-top: 30%;
    margin-left: 25%;
}