html, body{
    height: 100%;
    margin: 0;
    
}

.page-content{ 
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-left: 50px;
    margin-right: 5em;
}

.item-list{
    width: 100%;
    position: relative;
    display: block;
    border-collapse: collapse;
    height: 100%;
    
    margin-left: 0; 
    
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.container{
    width: auto !important;
    margin-left: 130px !important;
    margin-right: 0px !important;
}


.notify-section{
     
    min-width: 300px;
    max-width: 500px;
    height: 100%;
    
    margin-top: 50px;
    margin-left: 0px;
}

.notify-top{
    margin: 0;
    min-height: 35px;
    max-height: 50px;
    color: white;
    background-color: #2c3e50;
    
}

.notify-top-text{
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0;
    height: 100%;
    padding-top: 10px;
    font-family: 'Lotus', 'Open Sans', sans-serif;   
}

.notify-table tr td {
    height: 80px;
}

.item-section{
    margin-top: 50px;
    height: 100%;
}

.item-bar{
    display: inline-block;
    margin: 0;
    width: 100%;
    min-width: 100px;
    min-height: 35px;
    max-height: 50px;
    background-color: #2c3e50;
}

.item-bar-name{
    display: block;
    float: left;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    color: white;
    width: 100%;
}

.item-config-image{
    display: block;
    float: right;
    max-height: 25px;
    max-width: 25px;
    margin-top: 5px;
    margin-right: 10px;
}

.item-button{
    position: absolute;
    display: block;
    float: right;
    bottom: 0;
    right: 0;
    margin: 0;
    margin-bottom: 15px;
    margin-right: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border: 1px solid;
    border-color: white;
    text-align: center;
}

.item-button:hover{
    background: white;
}

.item-button-text{
    display: block;
    float:left;
    margin: 4px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: 500;   
}


.attendance-background{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 200px;
    max-width: 500px;
    margin: 0;
    background-color: #e91e63 ;
}

.attendance-text{
    margin: 0;
    margin-left: 15px;
    margin-top: 20px;
    padding-left: 20px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-size: 45px;
}

.item-attendance-text{
    display: block;
    float:left;
    margin: 4px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: 500;   
}

.item-button:hover .item-attendance-text{
    color: #e91e63;
    font-weight: bold;
}

.lunch-background{
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 200px;
    min-width: 300px;
    max-width: 500px;
    margin: 0;
    background-color: #009688 ;
}

.menu-table tr.ui-widget-content, .menu-table tr.ui-datatable-odd, .menu-table ui-datatable-odd{
    background: none;
    text-shadow: none !important;
}

.lunch-text-heading{
    float: left;
    margin: 0;
    margin-left: 15px;
    margin-top: 20px;
    padding-left: 20px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-size: 25px;
}

.lunch-text-info{
    margin: 0;
    margin-top: 16px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-size: 35px;
}

.item-lunch-text{
    display: block;
    float:left;
    margin: 4px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: 500;   
}

.item-button:hover .item-lunch-text{
    color: #009688;
    font-weight: bold;
}

.parent-background{
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 200px;
    min-width: 300px;
    max-width: 500px;
    margin: 0;
    background-color: #ff6e40 ;
}

.parent-text{
    margin: 0;
    margin-left: 15px;
    margin-top: 20px;
    padding-left: 20px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-size: 45px;
}

.parent-text-small{
    margin: 0;
    margin-left: 10px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-size: 35px;
}

.item-parent-text{
    display: block;
    float:left;
    margin: 4px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: 500;   
}

.item-button:hover .item-parent-text{
    color: #ff6e40;
    font-weight: bold;
}

.time-background{
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 200px;
    min-width: 300px;
    max-width: 500px;
    margin: 0;
    background-color: #5677fc ;
}

.item-time-text{
    display: block;
    float:left;
    margin: 4px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: 500;   
    text-shadow: none !important;
}

.item-button:hover .item-time-text{
    color: #5677fc;
    font-weight: bold;
    text-shadow: none !important;
}

.ui-datatable-header{
    background: #2c3e50 !important;
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-shadow: none !important;
}

th{
    font-size: 15px;
    color: white !important;
    background: gray !important;
    font-weight: 400 !important;
    text-shadow: none !important;
}

.datepicker{
    margin-top: 10px;
    padding-left: 20px;
    float: left;
}

.header-text{
    text-align: left;
}

.table{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
    text-shadow: none !important;
}

.table .ui-state-highlight{
    background: #2F2F2F !important;
}

.table tr.ui-state-hover{
    background: #ABABAB !important;
}

.grid{
    width: 100%;
}

.input-field{
    width: 100%;
    border-radius: 0px !important;  
}

.input-field-advanced input{
    width: 100%;
    border-radius: 0px !important;
}

.button-passive{
    position: absolute;
    display:  inline-block;
    width: 100%;
    margin-top: 50px;
    border: 1px solid;
    border-color: #919191;
    border-radius: 2px;
}

.button-passive-icon{
    float: left;
    max-width: 100px;
    max-height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button-passive-text{
    text-align: center;
    margin-top: 40px;
    color: #919191;
}

.button-active{
    position: absolute;
    display:  inline-block;
    width: 100%;
    margin-top: 50px;  
}

.button-active-icon{
    float: left;
    max-width: 100px;
    max-height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button-blue{
    border: 1px solid;
    border-color: #3498db;
    border-radius: 2px; 
}

.button-blue-text{
    text-align: center;
    margin-top: 40px;
    color: #3498db;
}

.button-orange{
    border: 1px solid;
    border-color: #e74c3c;
    border-radius: 2px;
}

.button-orange-text{
    text-align: center;
    margin-top: 40px;
    color: #e74c3c;
}

.button-purple{
    border: 1px solid;
    border-color: #9b59b6;
    border-radius: 2px;
}

.button-purple-text{
    text-align: center;
    margin-top: 40px;
    color: #9b59b6;
}

.button-blue:hover{
    background-color: #3498db;
}

.button-blue:hover .button-blue-text{
    color: white;
    font-weight: bold;
}

.button-orange:hover{
    background-color: #e74c3c;
}

.button-orange:hover .button-orange-text{
    color: white;
    font-size: 23px;
    font-weight: bold;  
}

.button-purple:hover{
    background-color: #9b59b6;
}

.button-purple:hover .button-purple-text{
    color: white;
    font-weight: bold; 
}

.button-green{
    position: absolute;
    display:  inline-block;
    width: 100%;
    height: 250px;
    padding-left: 5px;
    margin-top: 80px;
    border: 1px solid;
    border-color: #009688;
    border-radius: 2px;
}

.button-green-text{
    text-align: center;
    margin-top: 100px;
    color: #009688;
    font-size: 30px;
}

.button-green:hover{
    background-color: #009688;
}

.button-green:hover .button-green-text{
    color: white;
    font-weight: bold;
}

.button-red{
    position: absolute;
    display:  inline-block;
    width: 100%;
    height: 250px;
    padding-left: 5px;
    margin-top: 80px;
    border: 1px solid;
    border-color: #e91e63;
    border-radius: 2px;
}

.button-red-text{
    text-align: center;
    margin-top: 100px;
    color: #e91e63;
    font-size: 30px;
}

.button-big-inactive{
    position: absolute;
    display:  inline-block;
    width: 100%;
    height: 250px;
    padding-left: 5px;
    text-align: center;
    margin-top: 80px;
    color: #919191;
    font-size: 30px;
    border: 1px solid;
}

.button-big-inactive-text{
    text-align: center;
    margin-top: 100px;
    color: #919191;
    font-size: 30px;
}

.button-big-icon{
    float: left;
    max-width: 150px;
    max-height: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 70px; 
}

.button-red:hover{
    background-color: #e91e63;
}

.button-red:hover .button-red-text{
    color: white;
    font-weight: bold;
}

.button-save {
    font-family:  Open Sans, sans-serif !important;
    background: #009688 !important;
    background-color: #009688 !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #009688 !important;
    color: white !important;
    font-size: 15px !important;  
    text-shadow: none !important;
    box-shadow: none !important;
}

.button-abort{
    font-family: Open Sans, sans-serif !important;
    background: #e91e63 !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #e91e63 !important;
    color: white !important;
    font-size: 15px !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.button-redirect{
    background: white !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #E59400 !important;
    color: #E59400 !important;
    font-size: 18px !important;
    box-shadow: none !important;
}

.button-delete{
    background: white !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #da190b !important;
    color: #da190b !important;
    font-size: 18px !important;
    box-shadow: none !important;
}

.button-config{
    background: white !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #9b59b6 !important;
    color: #9b59b6 !important;
    font-size: 18px !important;
    box-shadow: none !important;
}

.button-arrow{
    background: white !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #9b59b6 !important;
    color: #9b59b6 !important;
    font-size: 18px !important;
    box-shadow: none !important;
}

.button-calendar{
    background: white !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #3498db !important;
    color: #3498db !important;
    font-size: 18px !important;
    box-shadow: none !important;
}

.button-create{
    background: white !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #696969 !important;
    color: #696969 !important;
    font-size: 18px !important;
    box-shadow: none !important;
}


.select-one-button:first-child span{
    background: white !important;
    color: #2c3e50 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    font-size: 16px;
}

.select-one-button:first-child .ui-state-active span{
    background: #2c3e50 !important;
    color: white !important;
    text-shadow: none !important;
    box-shadow: none !important;
    font-size: 16px;
}

.select-one-button:nth-child(2) span{
    background: white !important;
    color: #2c3e50 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    font-size: 16px;
}

.select-one-button:nth-child(2) .ui-state-active span{
    background: #2c3e50 !important;
    color: white !important;
    text-shadow: none !important;
    box-shadow: none !important;
    font-size: 16px;
}

.button-boolean{
    background: #3498db !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: white !important;
    color: white !important;
    font-size: 18px !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

.ui-confirmdialog-yes{
    width: 100px;
    font-family:  Open Sans, sans-serif !important;
    background: #009688 !important;
    background-color: #009688 !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #009688 !important;
    color: white !important;
    font-size: 15px !important;  
    text-shadow: none !important;
    box-shadow: none !important;  
}

.ui-confirmdialog-no{
    width: 100px;
    font-family: Open Sans, sans-serif !important;
    background: #e91e63 !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #e91e63 !important;
    color: white !important;
    font-size: 15px !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.ui-state-active{
    background: white !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #3498db !important;
    color: #3498db !important;
    font-size: 18px !important;
    box-shadow: none !important;
}



.ui-button{
    font-size: 14px !important;
}

.ui-widget-content{
    background-color:white; 
}

.ui-datepicker-title{
    color: white !important;
}

.ui-datepicker-title .ui-datepicker-month{
    color: gray !important;
}

.ui-datepicker-title .ui-datepicker-year{
    color: gray !important;
}

.ui-datepicker-month{
    color: #2c3e50 !important;
}

.ui-datepicker-year{
    color: #2c3e50 !important;
}

.ui-helper-clearfix:after{
    background-color:#2c3e50 !important;
    color: white !important;
    
}
.ui-widget-header{
    background:#2c3e50 !important;
    color: white !important;
    font-weight: 500 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-size: 18px;
}
.ui-shadow{
    box-shadow:none !important;
    text-shadow: none !important;
}
.ui-dialog-content{
    background:white!important;
    text-shadow: none !important;
    
    padding: 0,0,0,0!important;
}

.ui-progressbar{
    display: none;
}

.ui-fileupload-content td{
    display: none;
}

@media screen and (max-width: 600px) {
    .container{
        margin-left: 10px !important;
    }
    
    .notify-section{
        margin-top: 80px;
    }
    
    .item-section{
        width: 100%;
    }   
}

@media screen and (max-width: 1400px){
    .lunch-text-info{
        font-size: 27px;
    }   
}
    
    @media screen and (min-width: 1500px){
        .item-section{
            margin-left: 10%;
        }
    
}