html,body{
    margin: 0;
    height: 100%;
}

.navbar{
    font-family: Montserrat, Open Sans, sans-serif;
    font-size: 15px;
    letter-spacing: 4px;
    opacity: 0.8;        
}

.work-menu{
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    margin-right: 0;
    background: #89253e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,  #3a6186  , #89253e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,  #3a6186 , #89253e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,  #3a6186 , #89253e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom,  #3a6186 40%, #2c3e50 ); /* Standard syntax */
    background-attachment: fixed;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    margin-right: 3em;
}

.login-logo{
    height: 200px;
    width: 250px;
    margin-left:20px;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.work-menu-link{
    border: 0;
    padding: 0;
}

.work-menu-item{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    max-height: 50px;
}

.work-menu-item:hover{
    background-color: rgba(256,256,256,0.25);
}

.work-item-font{
    margin: 0;    
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 100%;
    color: white;
}

.work-submenu-item{
    text-align: center;
    background-color: rgba(0,0,0,0.27);
    padding-bottom: 2px;
    padding-top: 2px;
    max-height: 50px;   
}

.work-submenu-item:hover{
    background-color: rgba(256,256,256,0.2);
}


.work-subitem-font{
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 80%;
    color: white;
}

.submenu-content{
    display: none;
}

.dropdown-action:hover .submenu-content{
    display: block;
}

.logout{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
    padding-bottom: 10%;
    bottom: 0;
}

.logout:hover{
    background-color: gray;
}

.small-menu{
    position: fixed;
    cursor: pointer;
    left: 0;
    max-width: 100px;
    margin: 30px;
    margin-left: -250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}


/*@media screen and (max-width: 720px) {
    .work-menu{
        z-index: 1000;
        position: fixed;
        left: 0px;
        width: 0px;
        margin-left: -500px;
        width: 60%;
        max-width: 100%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .small-menu{
        position: fixed;
        margin-left: 30px;
        margin-top: 20px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .work-item-font{
        font-size: 20px;
    }
    
    .work-menu-item{
        padding-bottom: 30px;
        padding-top: 30px;
    }
    
    .work-submenu-item{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .work-subitem-font{
        font-size: 15px;
    }
}*/

.topnav {
    display: none;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .topnav {display: inherit;} 
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .work-menu {display: none;}
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


