body{
    margin: 0;
}

.container{
    width: auto !important;
    margin-left: 130px !important;
    margin-right: auto !important;
}

.header-text{
    text-align: left;
}

.childTable{
    width: 100%;
    margin-top: 20px;
}

.buttons-relative{
    width: 100%;
}

.button-passive{
    position: absolute;
    display:  inline-block;
    width: 100%;
    margin-top: 50px;
    border: 1px solid;
    border-color: #919191;
    border-radius: 2px;
}

.button-passive-icon{
    float: left;
    max-width: 100px;
    max-height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button-passive-text{
    text-align: center;
    margin-top: 40px;
    color: #919191;
}

.button-passive-b-text{
    text-align: center;
    margin-top: 40px;
    color: #919191;
}


.button-active{
    position: absolute;
    display:  inline-block;
    width: 100%;
    margin-top: 50px;
    
    
}

.blade{
    border: 1px solid;
    border-color: #3498db;
    border-radius: 2px; 
}

.contact{
    border: 1px solid;
    border-color: #e74c3c;
    border-radius: 2px;
}

.config{
    border: 1px solid;
    border-color: #9b59b6;
    border-radius: 2px;
}

.button-active-icon{
    float: left;
    max-width: 100px;
    max-height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button-blade-text{
    text-align: center;
    margin-top: 120px;
    color: #009688;
    font-size: 30px;
    color: #3498db;
}

.button-contact-text{
    text-align: center;
    margin-top: 40px;
    color: #e74c3c;
}

.button-config-text{
    text-align: center;
    margin-top: 120px;
    color: #009688;
    font-size: 30px;
    color: #9b59b6;
}

.button-config-small-text{
    text-align: center;
    color: #009688;
    font-size: 30px;
    color: #9b59b6;
}

.blade:hover{
    background-color: #3498db;
}

.blade:hover .button-blade-text{
    color: white;
    font-weight: bold;
}

.contact:hover{
    background-color: #e74c3c;
}

.contact:hover .button-contact-text{
    color: white;
    font-size: 23px;
    font-weight: bold;  
}

.config:hover{
    background-color: #9b59b6;
}

.config:hover .button-config-text{
    color: white;
    font-weight: bold; 
}

.page-content{
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-left: 250px;
    margin-right: 5em;
}




.button-fix{
    position: absolute;
    display:  inline-block;
    width: 100%;
    height: 250px;
    padding-left: 5px;
    margin-top: 80px;
}

.reg{
    border: 1px solid;
    border-color: #009688;
    border-radius: 2px;
    
}

.dereg{
    border: 1px solid;
    border-color: #e91e63;
    border-radius: 2px;
}

.dereg-inactive{
    border: 1px solid;
    border-color: #919191;
    border-radius: 2px;
}

.button-fix-icon{
    float: left;
    max-width: 150px;
    max-height: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 70px;
}

.button-save {
    font-family:  Open Sans, sans-serif !important;
    background: #009688 !important;
    background-color: #009688 !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #009688 !important;
    color: white !important;
    font-size: 15px !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.button-abort{
    font-family: Open Sans, sans-serif !important;
    background: #e91e63 !important;
    border: 2px solid !important;
    border-radius: 0 !important;
    border-color: #e91e63 !important;
    color: white !important;
    font-size: 15px !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.button-register-text{
    text-align: center;
    margin-top: 120px;
    color: #009688;
    font-size: 30px;
}

.button-deregister-text{
    text-align: center;
    margin-top: 120px;
    color: #e91e63;
    font-size: 30px;
}

.button-deregister-text-inactive{
    text-align: center;
    margin-top: 120px;
    color: #919191;
    font-size: 30px;
}

.reg:hover{
    background-color: #009688;
}

.reg:hover .button-register-text{
    color: white;
    font-weight: bold;
}

.dereg:hover{
    background-color: #e91e63;
}

.dereg:hover .button-deregister-text{
    color: white;
    font-weight: bold;
}

.one-line-input{
    width: 100%;
}

.date input{
    width: 100%;
}

.parentTableConfig{
    margin-left: 50px;
}

.caregiverTableConfig{
    margin-top: 20px;
    margin-left: 50px;
}

.emergencyTableConfig{
    margin-top: 20px;
    margin-left: 50px;
}

.add-button{
    margin-left: 50px;
}

.ui-datatable-header{
    background: #2c3e50 !important;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

th{
    color: white !important;
    background: gray !important;
    font-weight: 400 !important;
}

.ui-widget-content{
    background-color:white;

}
.ui-helper-clearfix:after{
    background-color:#2c3e50 !important;
    color: white !important;

}
.ui-widget-header{
    background:#2c3e50 !important;
    color: white !important;
    font-weight: 500 !important;

}
.ui-shadow{

    box-shadow:none;
}
.ui-dialog-content{
    background:white!important;

    padding: 0,0,0,0!important;
}