html, body{
    height: 100%;
    margin: 0;
    
}

.page-content{ 
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-left: 50px;
    margin-right: 5em;
}

.container{
    width: auto !important;
    margin-left: 130px !important;
    margin-right: 0px !important;
}

.item-list{
    position: relative;
    display: block;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 5%;   
    
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.item-section{
    margin: 10px;
    margin-top: 50px;
    height: 100%;
    width: 100%;
    
    
}


.item-bar{
    display: inline-block;
    margin: 0;
    width: 100%;
    min-width: 100px;
    min-height: 35px;
    max-height: 50px;
    background-color: #2c3e50;
}

.item-bar-name{
    display: inline-block;
    float: left;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    color: white;
}

.item-config-image{
    display: block;
    float: right;
    max-height: 25px;
    max-width: 25px;
    margin-top: 5px;
    margin-right: 10px;
}

.item-button{
    position: absolute;
    display: block;
    float: right;
    bottom: 0;
    right: 0;
    max-width: 200px;
    margin: 0;
    margin-bottom: 15px;
    margin-right: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border: 1px solid;
    border-color: white;
    text-align: center;
}

.item-button-text{
    display: block;
    float:left;
    margin: 4px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: 500;   
    font-size: 13px;
}

.item-button:hover .item-button-text{
    color: #e91e63;
    font-weight: bold;
}

.item-button:hover {
    background-color: white;
}


.registration-background{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 200px;
    margin: 0;
    background-color: #e91e63 ;
}

.registration-text{
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 20px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-size: 45px;
}

.registration-text-head{
    margin: 0;
    margin-top: 5px;
    font-size: 25px;
}

.registration-text-main{
    float: right;
    margin: 0;
    margin-top: 10px;
    margin-right: 50px;
    font-size: 45px;
}



.registration-button{
    display: block; 
    float: left;
    width: 100%;
    height: 100%;
    min-height: 200px;
    border: 1px solid;
    border-radius: 2px;
    border-color: #e91e63;
}

.registration-button-text{
    position: relative;
    float: right;
    margin-top: 60px;
    margin-right: 20px;
    text-align: center;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #e91e63;
}

.registration-button-icon{
    position: relative;
    float: left;
    max-height: 150px;
    margin: 0;
    margin-top: 4%;
    margin-left: 50px;
}

.registration-button:hover{
    background-color: #e91e63;        
}

.registration-button:hover .registration-button-text{
    color: white;
}




.time-button{
    display: block; 
    float: left;
    width: 100%;
    height: 100%;
    min-height: 200px;
    border: 1px solid;
    border-radius: 1px;
    border-color: #009688;
}

.time-button-text{
    position: relative;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
    text-align: center;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #009688;
}

.time-button-icon{
    position: absolute;
    float: left;
    height:70%;
    max-width: 400px;
    max-height: 400px;
    margin: 0;
    margin-top: 24px;
    margin-left: 15px;
}

.time-button:hover{
    background-color: #009688;
}

.time-button:hover .time-button-text{
    color: white;
}


.time-background{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 200px;
    margin: 0;
    background-color: #009688 ;
}

.time-text{
    position: absolute;
    float: left;
    margin: 0;
    margin-left: 10px;
    color: white;
    font-family: 'Lotus','Open Sans', sans-serif;
}

.bring-time-value{
    margin-top: 25px;
    right: 50px;
    font-size: 40px;
}

.take-time-text{
    margin-top: 60px;
}

.take-time-value{
    margin-top: 65px;
    right: 50px;
    font-size: 40px;
}






.menu-background{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 200px;
    margin: 0;
    background-color: #ff6e40 ;
}

.menu-text{
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-size: 45px;
}

.menu-text-head{
    margin: 0;
    margin-top: 5px;
    font-size: 60px;
}

.menu-text-main{
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-right: 50px;
    font-size: 15px;
}



.menu-button{
    display: block; 
    float: left;
    width: 100%;
    height: 100%;
    min-height: 200px;
    border: 1px solid;
    border-radius: 2px;
    border-color: #ff6e40;
}

.menu-button-text{
    position: relative;
    float: right;
    margin-top: 65px;
    margin-right: 10px;
    text-align: center;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #ff6e40;
}

.menu-button-icon{
    position: relative;
    float: left;
    max-width: 120px;
    margin: 0;
    margin-top: 45px;
    margin-left: 20px;
}

.menu-button:hover{
    background-color: #ff6e40;        
}

.menu-button:hover .menu-button-text{
    color: white;
}

.menu-small-button-text{
    display: block;
    float:left;
    margin: 4px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: 500;   
    font-size: 13px;
}

.item-button:hover .menu-small-button-text{
    color: #ff6e40;
    font-weight: bold;
}

.item-button:hover {
    background-color: white;
}





.task-background{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 200px;
    margin: 0;
    background-color: #448aff;
}


.task-text{
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 20px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-size: 45px;
}

.task-text-main{
    padding-right: 10px;
    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 55px;
}



.task-button{
    display: block; 
    float: left;
    width: 100%;
    height: 100%;
    min-height: 200px;
    border: 1px solid;
    border-radius: 2px;
    border-color: #448aff;
}

.task-button-text{
    position: relative;
    float: right;
    margin-top: 60px;
    margin-right: 20px;
    text-align: center;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #448aff;
}

.task-button-icon{
    position: relative;
    float: left;
    max-height: 150px;
    margin: 0;
    margin-top: 5%;
    margin-left: 5px;
}

.task-small-button-text{
    display: block;
    float:left;
    margin: 4px;
    color: white;
    font-family: 'Lotus', 'Open Sans', sans-serif;
    font-weight: 500;   
    font-size: 13px;
}

.task-button:hover{
    background-color: #448aff;        
}

.task-button:hover .task-button-text{
    color: white;
}

.item-button:hover .task-small-button-text{
    color: #448aff;
    font-weight: bold;
}

.item-button:hover {
    background-color: white;
}






@media screen and (max-width: 1255px){
    .time-button-text{
        font-size: 25px;
    }
    
    .registration-button-text{
        font-size: 30px;
    }
    
    .menu-button-text{
        font-size: 25px;
    }
    
    .menu-text-main{
        text-align: left;
        margin-top: 10px;
    }
    
    .task-button-text{
        font-size: 25px;
    }
    
    .task-text-main{
        text-align: left;
        font-size: 45px;
    }
}


@media screen and (max-width: 720px) {
    .container{
        margin-left: 1px !important;
    }
    
    .notify-section{
        margin-top: 80px;
    }
    
    .item-section{
        width: 100%;
    }
}