body{
    background-size: 100%;
    background: url(/resources/images/login.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.presentation-logo{   
    max-width: 600px;
    margin-top: 15%;
    margin-left: 25%;
}

#login-space{
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 5%;
    background: rgba(65,105,225,0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

#login_form{
    padding:50px;   
    padding-top: 0;
    width: 30%;
    min-width: 300px;
    margin: auto;
}

.login-text{
    position: relative;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
}

#login-logo{
    width: 200px;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 15px;
}

.passwd-water{
    font-family: sans-serif;
    font-size: 30px;
    color: white;
}

#username, #password{
    width: 100%;
    margin-bottom: 25px;
    height: 32px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid;
    box-shadow: none;
    background: none;
    font-family: Open Sans, sans-serif;
    font-size: 10pt;
    color: white;
    text-shadow: none !important;
}

#username::-webkit-input-placeholder{
    color: white;
}

#password::-webkit-input-placeholder{
    color: white;
}


#login-button{
    width: 50%;
    float:right;
    height: 32px;
    border-radius: 1px;
    background-color: #EBEFF3;
    border: 1px solid;
    border-color: white;
    color: white;
    background: none ;
    font-family: Roboto Condensed, sans-serif;
    font-size: 12pt;
    font-weight: 1000;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#login-button:hover{
    background-color: white;
    color: rgba(65,105,225,0.8);
    font-weight: bold;
}

.login-error{
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}