<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <div class="main-menu">
            <h:outputStylesheet name="css/style-error.css"/>
        </div>
        <h:head />
        <div class="page-content container">
            <h:form>     
                <h2>Uppps, es sieht so aus wäre ein unerwarteter Fehler aufgetretten.</h2>
                <h3>Wir möchten uns dafür entschuldigen und bitten Sie den Link unten zu drücken!</h3>
                
                <a href="/logout"><h3>Bitte drücken</h3></a>
                
        </h:form>
        </div>
    </ui:define>
</ui:composition>