<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="content">
        <div class="main-menu">
            <h:outputStylesheet name="css/style-parent-basic.css"/>
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <div class="page-content container">
            <h:form id="caregiverForm">
                <!-- Caregiver selection -->
                <div class="caregiver-selection">
                    <div class="row">

                        <!-- Caregiver select table on top of site-->
                        <p:dataTable var="caregiver" value="#{caregiverListController.caregiversOfCurrentUser}"
                                     widgetVar="caregiverTable" id="caregiverTable" scrollable="true" scrollHeight="200"
                                     emptyMessage="Keine Bezugspersonen gefunden" class="caregiverTableDesign"
                                     tableStyle="table-layout: auto" selectionMode="single" style="margin-top: 20px;"
                                     filteredValue="#{caregiverListController.filteredCaregivers}"
                                     selection="#{caregiverDetailController.caregiver}" rowKey="#{caregiver.id}">
                            <f:facet name="header">
                                <p:outputPanel class="header-text">
                                    <h:outputText value="Suche nach Bezugsperson: " style="color: white;margin-right: 7px;"/>
                                    <p:inputText id="globalFilter" onkeyup="PF('caregiverTable').filter()" style="width: 200px;" placeholder="Information eingeben"/>
                                </p:outputPanel>
                            </f:facet>

                            <p:column headerText="Bild" width="102">
                                <p:commandLink actionListener="#{imageController.setSaveId(caregiver.id)}"
                                               oncomplete="PF('pictureDlg').show()" update=":pictureDlg">
                                     <h:graphicImage value="/imageCaregiver?id=#{caregiver.id}"
                                                     style="max-height: 45px;"/>
                                </p:commandLink>
                            </p:column>

                            <p:column headerText="Vorname" filterBy="#{caregiver.firstName}" filterMatchMode="contains" filterStyle="display: none;">
                                <h:outputText value="#{caregiver.firstName}"/>
                            </p:column>

                            <p:column headerText="Nachname" filterBy="#{caregiver.lastName}" filterMatchMode="contains" filterStyle="display: none;">
                                <h:outputText value="#{caregiver.lastName}"/>
                            </p:column>

                            <p:column headerText="E-Mail" filterBy="#{caregiver.email}" filterMatchMode="contains" filterStyle="display: none;">
                                <h:outputText value="#{caregiver.email}"/>
                            </p:column>

                            <p:column headerText="Privattelefon" filterBy="#{caregiver.privatePhone}" filterMatchMode="contains" filterStyle="display: none;">
                                <h:outputText value="#{caregiver.privatePhone}"/>
                            </p:column>

                            <p:column headerText="Arbeitstelefon" filterBy="#{caregiver.businessPhone}" filterMatchMode="contains" filterStyle="display: none;">
                                <h:outputText value="#{caregiver.businessPhone}"/>
                            </p:column>

                            <p:column filterBy="#{caregiver.children.toArray()}" filterMatchMode="contains" filterStyle="display: none;">
                                <f:facet name="header">
                                    <h:outputText value="Kinder"/>
                                </f:facet>
                                <ui:repeat var="child"
                                           value="#{caregiver.children.toArray()}">

                                    <p> #{child.firstName} #{child.lastName}</p>

                                </ui:repeat>
                            </p:column>

                            <p:column headerText="Bestätigt">
                                <p:selectBooleanCheckbox value="#{caregiver.confirmed}" disabled="true"/>
                            </p:column>

                            <p:ajax event="rowSelect" update=":caregiverForm:buttonPanel :dialog-edit :dialog-deregistration"/>
                        </p:dataTable>
                    </div>
                </div>

                <h:panelGroup layout="block" id="buttonPanel">
                    <div class="row" >
                        <!-- Register button -->
                        <p:commandLink oncomplete="PF('dialog-registration').show();">
                            <div class="col-md-4 button-fix reg">
                                <img src="../../resources/images/add_user-green.png" class="button-fix-icon"/>
                                <h3 class="button-register-text">ANMELDEN</h3>
                            </div>
                        </p:commandLink>

                        <p:commandLink id="configdata" rendered="#{not empty caregiverDetailController.caregiver}"
                                       oncomplete="PF('dialog-edit').show();">
                            <div class="col-md-4 button-fix config" id="config-action">
                                <img src="../../resources/images/pen-purple.png" class="button-fix-icon"
                                     id="config-icon"/>
                                <h3 class="button-config-text">BEARBEITEN</h3>
                            </div>
                        </p:commandLink>

                        <h:panelGroup layout="block" rendered="#{empty caregiverDetailController.caregiver}">
                            <div class="col-md-4 button-fix dereg-inactive" >
                                <img src="../../resources/images/pen-gray.png" class="button-fix-icon"/>
                                <h3 class="button-deregister-text-inactive">BEARBEITEN</h3>
                            </div>
                        </h:panelGroup>

                        <p:commandLink id="delete-caregiver" rendered="#{not empty caregiverDetailController.caregiver}"
                                       onclick="PF('dialog-deregistration').show();">
                            <div class="col-md-4 button-fix dereg">
                                <img src="../../resources/images/remove_user-red.png" class="button-fix-icon"/>
                                <h3 class="button-deregister-text">ABMELDEN</h3>
                            </div>
                        </p:commandLink>

                        <h:panelGroup layout="block" rendered="#{empty caregiverDetailController.caregiver}">
                            <div class="col-md-4 button-fix dereg-inactive">
                                <img src="../../resources/images/remove_user-gray.png" class="button-fix-icon"/>
                                <h3 class="button-deregister-text-inactive">ABMELDEN</h3>
                            </div>
                        </h:panelGroup>

                    </div>
                </h:panelGroup>
            </h:form>
        </div>

        <p:dialog widgetVar="dialog-registration" id="dialog-registration"
                  closeOnEscape="true" header="Bezugsperson erstellen" resizable="false">
            <h:form id="dialog-registration-form">

                <p:messages id="messageWrongInputRegistration" closable="true"/>

                <h:panelGrid columns="2" rendered="#{not empty caregiverCreateController.caregiver}">
                    <h:panelGrid columns="2" id="dialog-registration-grid">
                        <p:outputLabel for="firstName-create" value="Vorname: " style="margin: 5px;"/>
                        <p:inputText id="firstName-create" value="#{caregiverCreateController.caregiver.firstName}" required="true"
                                     style="margin: 5px;" requiredMessage="Fehlender Vorname!"/>

                        <p:outputLabel for="lastName-create" value="Nachname: " style="margin: 5px;"/>
                        <p:inputText id="lastName-create" value="#{caregiverCreateController.caregiver.lastName}" required="true"
                                     style="margin: 5px;" requiredMessage="Fehlender Nachnahme!"/>

                        <p:outputLabel for="email-create" value="E-Mail: " style="margin: 5px;"/>
                        <p:inputText id="email-create" value="#{caregiverCreateController.caregiver.email}" required="true"
                                     style="margin: 5px;" requiredMessage="Fehlende E-Mail!" validatorMessage="Ungültige E-Mail!">
                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                        </p:inputText>

                        <p:outputLabel for="private-create" value="Privatnummer: " style="margin: 5px;"/>
                        <p:inputMask id="private-create" value="#{caregiverCreateController.caregiver.privatePhone}" required="true"
                                     style="margin: 5px;" mask="+(99) 999 - 9999?999999" requiredMessage="Fehlende Privatenummer!"/>

                        <p:outputLabel for="business-create" value="Geschäftsnummer: " style="margin: 5px;"/>
                        <p:inputMask id="business-create" value="#{caregiverCreateController.caregiver.businessPhone}" style="margin: 5px;" mask="+(99) 999 - 9999?999999"/>

                        <p:outputLabel for="children-create" value="Kinder: " style="margin: 5px;"/>
                        <p:selectCheckboxMenu value="#{caregiverCreateController.selectedChildren}" label="Kinder"
                                              filter="false" style="width:140px; margin: 5px;" id="children-create" required="true" requiredMessage="Keine Kinder ausgewählt!">
                            <f:selectItems value="#{caregiverCreateController.getPossibleChildren()}" var="child"
                                           itemValue="#{child.id}"
                                           itemLabel="#{child.firstName} #{child.lastName}"/>
                        </p:selectCheckboxMenu>

                    </h:panelGrid>

                    <h:panelGrid columns="1">

                        <p:fileUpload style="margin-top:50px;" label="Profilbild" uploadLabel="Upload" cancelLabel="Abbrechen" multiple="false" fileLimit="1"
                                      allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                      fileUploadListener="#{fileUploadController.handleFileUploadCaregiver}"
                                      invalidFileMessage="Nur JPG ist erlaubt!"
                                      invalidSizeMessage="Error" onstart="#{fileUploadController.setId(caregiverCreateController.caregiver.id)}"
                                      fileLimitMessage="Nur ein Bild!" update="createImg"/>

                        <p:graphicImage value="/imageCaregiver?id=#{caregiverCreateController.caregiver.id}" id="createImg"
                                        style="max-width:300px; margin: 5px;" cache="false"/>

                    </h:panelGrid>

                    <p:separator/>
                    <p:separator/>

                    <h:panelGroup>
                        <p:commandButton value="Erstellen" action="#{caregiverCreateController.save()}"
                                         oncomplete="if (args &amp;&amp; !args.validationFailed) PF('dialog-registration').hide()" style="margin: 5px;"
                                         update=":caregiverForm:caregiverTable dialog-registration-grid messageWrongInputRegistration" styleClass="create-parent"
                                         class="button-save"/>

                        <p:commandButton value="Abbrechen" onclick="PF('dialog-registration').hide()" style="margin: 5px;"
                                        class="button-abort"/>
                    </h:panelGroup>
                </h:panelGrid>
            </h:form>
        </p:dialog>


        <!-- Dialog to change attributes of caregiver, called by 'Daten bearbeiten' button -->
        <p:dialog header="Daten bearbeiten" widgetVar="dialog-edit" id="dialog-edit" modal="true"
                  closeOnEscape="true" resizable="false">
            <h:form>

                <p:messages id="messageWrongInputEdit" closable="true"/>

                <h:panelGrid columns="2" rendered="#{not empty caregiverDetailController.caregiver}">
                    <h:panelGrid columns="2" id="dialog-edit-grid">
                        <p:outputLabel for="firstName" value="Vorname: " style="margin: 5px;"/>
                        <p:inputText id="firstName" value="#{caregiverDetailController.caregiver.firstName}" required="true"
                                     style="margin: 5px;" requiredMessage="Fehlender Vorname!"/>

                        <p:outputLabel for="lastName" value="Nachname: " style="margin: 5px;"/>
                        <p:inputText id="lastName" value="#{caregiverDetailController.caregiver.lastName}" required="true"
                                     style="margin: 5px;" requiredMessage="Fehlender Nachnahme!"/>

                        <p:outputLabel for="email" value="E-Mail: " style="margin: 5px;"/>
                        <p:inputText id="email" value="#{caregiverDetailController.caregiver.email}" required="true"
                                     style="margin: 5px;" requiredMessage="Fehlende E-Mail!" validatorMessage="Ungültige E-Mail!">
                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                        </p:inputText>

                        <p:outputLabel for="private" value="Privatnummer: " style="margin: 5px;"/>
                        <p:inputMask id="private" value="#{caregiverDetailController.caregiver.privatePhone}" required="true"
                                     style="margin: 5px;" mask="+(99) 999 - 9999?999999" requiredMessage="Fehlende Privatenummer!"/>

                        <p:outputLabel for="business" value="Geschäftsnummer: " style="margin: 5px;"/>
                        <p:inputMask id="business" value="#{caregiverDetailController.caregiver.businessPhone}" style="margin: 5px;" mask="+(99) 999 - 9999?999999"/>

                        <p:outputLabel for="children" value="Kinder: " style="margin: 5px;"/>
                        <p:selectCheckboxMenu value="#{caregiverDetailController.selectedChildren}" label="Kinder"
                                              filter="false" style="width:140px; margin: 5px;" id="children" required="true" requiredMessage="Keine Kinder ausgewählt!">
                            <f:selectItems value="#{caregiverDetailController.getPossibleChildren()}" var="child"
                                           itemValue="#{child.id}"
                                           itemLabel="#{child.firstName} #{child.lastName}"/>
                        </p:selectCheckboxMenu>

                    </h:panelGrid>

                    <h:panelGrid columns="1">

                        <p:fileUpload style="margin-top:50px;" label="Profilbild" uploadLabel="Upload" cancelLabel="Abbrechen" multiple="false" fileLimit="1"
                                      allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                      fileUploadListener="#{fileUploadController.handleFileUploadCaregiver}"
                                      invalidFileMessage="Nur JPG ist erlaubt!"
                                      invalidSizeMessage="Error" onstart="#{fileUploadController.setId(caregiverDetailController.caregiver.id)}"
                                      fileLimitMessage="Nur ein Bild!" update="editImg"/>

                        <p:graphicImage value="/imageCaregiver?id=#{caregiverDetailController.caregiver.id}" id="editImg"
                                        style="max-width:300px; margin: 5px;" cache="false"/>

                    </h:panelGrid>

                    <p:separator/>
                    <p:separator/>

                    <h:panelGroup>

                        <p:commandButton id="save" value="Speichern" actionListener="#{caregiverDetailController.save()}"
                                         oncomplete="if (args &amp;&amp; !args.validationFailed) PF('dialog-edit').hide()" style="margin: 5px;"
                                         update=":caregiverForm:caregiverTable dialog-edit-grid messageWrongInputEdit"
                                         class="button-save"/>

                        <p:commandButton id="abort" value="Abbrechen" onclick="PF('dialog-edit').hide()" style="margin: 5px;"
                                         class="button-abort"/>
                    </h:panelGroup>
                </h:panelGrid>
            </h:form>
        </p:dialog>


        <!-- Dialog for caregiver deregistration, called by 'Bezugsperson abmelden' button -->
        <p:dialog header="Bezugsperson abmelden" widgetVar="dialog-deregistration" id="dialog-deregistration" modal="true"
                  closeOnEscape="true" width="800" resizable="false">
            <h:form>
                <p:dataTable id="deregister-caregiver-table" value="" style="margin-top: 20px;">
                    <f:facet name="header">
                        <h:outputText value="Bezugsperson"/>
                    </f:facet>

                    <p:column exportable="true" style="display:none;">
                        <f:facet name="header>">
                            <h:outputText value="Bezugsperson"/>
                        </f:facet>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Vorname"/>
                        </f:facet>
                        <p:outputLabel value="#{caregiverDetailController.caregiver.firstName}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Nachname"/>
                        </f:facet>
                        <h:outputText value="#{caregiverDetailController.caregiver.lastName}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Privattelefon"/>
                        </f:facet>
                        <h:outputText value="#{caregiverDetailController.caregiver.privatePhone}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Geschäftstelefon"/>
                        </f:facet>
                        <h:outputText value="#{caregiverDetailController.caregiver.businessPhone}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Kinder"/>
                        </f:facet>
                        <p:dataTable value="#{caregiverDetailController.caregiver.children}" var="child">
                            <p:column>
                                <h:outputText value="#{child.firstName} "/>
                            </p:column>
                        </p:dataTable>
                    </p:column>
                </p:dataTable>

                <p:commandButton value="Abmelden" oncomplete="PF('dialog-deregistration').hide()"
                                 update=":caregiverForm :dialog-edit" style="margin-top: 20px; margin-bottom: 5px;"
                                 class="button-save">
                    <f:actionListener binding="#{caregiverDetailController.delete()}"/>
                </p:commandButton>

                <p:commandButton value="Abbrechen" onclick="PF('dialog-deregistration').hide()" style="margin: 5px;"
                                 class="button-abort"/>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="pictureDlg" id="pictureDlg" modal="true" closeOnEscape="true">
            <h:form>
                <p:graphicImage value="/imageCaregiver?id=#{imageController.saveId}"
                                style="max-height: 800px; max-width: 800px;"/>
            </h:form>
        </p:dialog>

    </ui:define>
</ui:composition>
