<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="content">
        <div class="main-menu">
            <h:outputStylesheet name="css/style-parent-basic.css"/>
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <div class="page-content container">
            <h:form id="childForm">
                <!-- Child selection -->
                <div class="child-selection">
                    <div class="row">

                        <!-- Child select table on top of site-->
                        <p:dataTable var="child" value="#{childListController.childrenOfCurrentUser}"
                                     widgetVar="childTable" id="childTable" scrollable="true" scrollHeight="200"
                                     emptyMessage="Keine Kinder gefunden" class="childTableDesign"
                                     tableStyle="table-layout: auto" selectionMode="single"
                                     selection="#{childDetailController.child}" rowKey="#{child.id}" style="margin-top: 20px;">
                            <f:facet name="header">
                                <p:outputPanel class="header-text">
                                    <h:outputText value="Suche nach Kind: " style="color: white;margin-right: 7px;"/>
                                    <p:inputText id="globalFilter" onkeyup="PF('childTable').filter()" style="width: 200px;" placeholder="Information eingeben"/>
                                </p:outputPanel>
                            </f:facet>

                            <p:column headerText="Bild" width="102">
                                <h:commandButton image="/imageChild?id=#{child.id}"
                                                 style="max-height: 45px;">
                                    <p:ajax event="click" oncomplete="PF('pictureBig').show()"/>
                                </h:commandButton>
                            </p:column>

                            <p:column headerText="Vorname" filterBy="#{child.firstName}" filterMatchMode="contains" filterStyle="display: none;">
                                <h:outputText value="#{child.firstName}"/>
                            </p:column>

                            <p:column headerText="Nachname" filterBy="#{child.lastName}" filterMatchMode="contains" filterStyle="display: none;">
                                <h:outputText value="#{child.lastName}"/>
                            </p:column>

                            <p:column headerText="Geburtstag" width="150px;" style="text-align: center;">
                                <h:outputText value="#{child.birthdate.time}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CET"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Notfallkontakt" filterBy="#{child.emergencyContact.lastName} #{child.emergencyContact.firstName} #{child.emergencyContact.privatePhone}"
                                      filterMatchMode="contains" filterStyle="display: none;">
                                <h:outputText
                                        value="#{child.emergencyContact.lastName} #{child.emergencyContact.firstName}: #{child.emergencyContact.privatePhone}"/>
                            </p:column>

                            <p:ajax event="rowSelect" update="@form" process="childTable">
                                <f:setPropertyActionListener target="#{childDetailController.childById}"
                                                             value="#{child.id}"/>
                            </p:ajax>

                        </p:dataTable>
                    </div>
                </div>


                <!-- Gray buttons if no child is selected -->
                <c:if id="not-selected" test="#{!childDetailController.childSelected}">
                    <div class="row">
                        <div class="buttons-relative">
                            <div class="col-md-6 button-fix button-big-inactive">
                                <img src="../../resources/images/file-gray.png" class="button-fix-icon"/>
                                <h3 class="button-deregister-text-inactive">STAMMBLATT</h3>
                            </div>

                            <div class="col-md-6 button-fix button-big-inactive">
                                <img src="../../resources/images/pen-gray.png" class="button-fix-icon"/>
                                <h3 class="button-deregister-text-inactive">DATEN BEARBEITEN</h3>
                            </div>
                        </div>
                    </div>
                </c:if>


                <!-- Colored buttons if child is selected -->
                <c:if id="selected" test="#{childDetailController.childSelected}">
                    <div class="row">
                        <div class="buttons-relative">
                            <p:commandLink id="overviewsheet" oncomplete="PF('overview-sheet').show();">
                                <div class="col-md-6 button-fix blade" id="blade-action">

                                    <img src="../../resources/images/file-blue.png" class="button-fix-icon"
                                         id="blade-icon"/>
                                    <h3 class="button-blade-text">STAMMBLATT</h3>
                                </div>
                            </p:commandLink>

                            <p:commandLink id="configdata" update="@form" action="#{fileUploadController.setId(childDetailController.child.id)}" oncomplete="PF('config-child').show();">
                                <div class="col-md-6 button-fix config" id="config-action">
                                    <img src="../../resources/images/pen-purple.png" class="button-fix-icon"
                                         id="config-icon"/>
                                    <h3 class="button-config-text">DATEN BEARBEITEN</h3>
                                </div>
                            </p:commandLink>


                        </div>
                    </div>
                </c:if>


                <!-- Dialog to change attributes of child, called by 'Daten bearbeiten' button -->
                <p:dialog id="config-child" header="Daten bearbeiten" widgetVar="config-child" modal="true" closeOnEscape="true">
                    <p:outputPanel id="childData" rendered="#{not empty childDetailController.child}">

                        <p:messages id="messageWrongInputEdit" closable="true"/>

                        <h:panelGrid columns="2" id="config-child-grid">
                                <p:outputLabel for="firstName" value="Vorname: "/>
                                <p:inputText id="firstName" value="#{childDetailController.child.firstName}"
                                             required="true" requiredMessage="Fehlender Vorname!"/>

                                <p:outputLabel for="lastName" value="Nachname: "/>
                                <p:inputText id="lastName" value="#{childDetailController.child.lastName}"
                                             required="true" requiredMessage="Fehlender Nachname!"/>

                                <p:outputLabel for="birthdate" value="Geburtsdatum: "/>
                                <p:calendar id="birthdate" value="#{childDetailController.child.birthdate.time}"
                                            locale="de" pattern="dd.MM.yyyy" required="true" converterMessage="Ungültiges Geburtsdatum"
                                            requiredMessage="Fehlendes Geburtsdatum!" validatorMessage="Ungültiges Geburtsdatum"/>

                                <p:outputLabel for="remarks" value="Anmerkungen: "/>
                                <p:inputTextarea id="remarks" value="#{childDetailController.child.remarks}" rows="6"
                                                 cols="33"/>

                                <p:outputLabel for="important" value="Wichtige Informationen: "/>
                                <p:inputTextarea id="important"
                                                 value="#{childDetailController.child.importantInformation}" rows="6"
                                                 cols="33"/>

                            <p:outputLabel for="emergeny-contact" value="Notfallkontakt: "/>
                            <h:selectOneMenu id="emergeny-contact" class="menu-dropdown"
                                             value="#{childDetailController.emergencyContactById}">
                                <f:selectItems value="#{childDetailController.child.caregivers}" var="emergency"
                                               itemValue="#{emergency.id}"
                                               itemLabel="#{emergency.firstName} #{emergency.lastName}"/>
                                <f:selectItems value="#{childDetailController.child.parents}" var="emergency"
                                               itemValue="#{emergency.id}"
                                               itemLabel="#{emergency.firstName} #{emergency.lastName}"/>
                            </h:selectOneMenu>

                        </h:panelGrid>

                        <p:fileUpload style="margin-top:50px;" label="Profilbild" uploadLabel="Upload" cancelLabel="Abbrechen" multiple="false" fileLimit="1"
                                      allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                      fileUploadListener="#{fileUploadController.handleFileUploadChild}"
                                      invalidFileMessage="Nur JPG ist erlaubt!"
                                      invalidSizeMessage="Error"
                                      fileLimitMessage="Nur ein Bild!"/>

                        <image src="/imageChild?id=#{childDetailController.child.getId()}" style="width:300px;" />

                        <p:separator/>


                        <h:panelGrid columns="3">
                            <p:commandButton id="save" value="Speichern" action="#{childDetailController.save()}"
                                             oncomplete="if (args &amp;&amp; !args.validationFailed) PF('config-child').hide()"
                                             update=":childForm:childTable config-child-grid messageWrongInputEdit"
                                             class="button-save"/>
                            <p:commandButton id="abort" value="Abbrechen" onclick="PF('config-child').hide()"
                                             class="button-abort"/>
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog>


                <!-- Dialog to show overview sheet of child, called by 'Stammblatt'button -->
                <p:dialog header="Stammblatt" widgetVar="overview-sheet" dynamic="true" closeOnEscape="true">
                    <p:scrollPanel style="border: none; height: 500px;" >
                        <p:outputPanel id="sheet-content">
                            <p:dataTable id="overview-child-table" value="" style="margin-top: 20px; max-width: 1000px;" emptyMessage="Keine gefunden.">
                                <f:facet name="header">
                                    <h:outputText value="Kind" style="color: white;"/>
                                </f:facet>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.firstName} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.lastName} "/>
                                </p:column>

                                <p:column width="150px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Geburtsdatum"/>
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>


                                <p:column width="150px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Anmeldedatum"/>
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.registrationDate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>

                                <p:column width="150px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Abmeldedatum"/>
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.deregistrationDate.time}">
                                        <f:convertDateTime parent="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>



                            <p:dataTable id="overview-note-table" value="" style="margin-top: 20px; max-width: 1000px;" emptyMessage="Keine gefunden.">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Wichtige Information" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.importantInformation} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Bemerkungen" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.remarks} "/>
                                </p:column>
                            </p:dataTable>

                            <p:dataTable id="overview-parent-table" value="#{childDetailController.child.parents}" var="parents" style="margin-top: 20px; max-width: 1000px;">
                                <f:facet name="header">
                                    <h:outputText value="Eltern" style="color: white"/>
                                </f:facet>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{parents.firstName} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{parents.lastName} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Privat" />
                                    </f:facet>
                                    <h:outputText value="#{parents.privatePhone} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Geschäftlich" />
                                    </f:facet>
                                    <h:outputText value="#{parents.businessPhone} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="E-Mail Adresse" />
                                    </f:facet>
                                    <h:outputText value="#{parents.email} "/>
                                </p:column>
                            </p:dataTable>

                            <p:dataTable id="overview-emergency-table" value="" style="margin-top: 20px; max-width: 1000px;" emptyMessage="Keine gefunden.">
                                <f:facet name="header">
                                    <h:outputText value="Notfallkontakt" style="color: white;"/>
                                </f:facet>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.emergencyContact.firstName} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.emergencyContact.lastName} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Privat" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.emergencyContact.privatePhone} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Geschäftlich" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.emergencyContact.businessPhone} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="E-Mail Adresse" />
                                    </f:facet>
                                    <h:outputText value="#{childDetailController.child.emergencyContact.email} "/>
                                </p:column>
                            </p:dataTable>


                            <p:dataTable id="overview-caregiver-table" value="#{childDetailController.child.caregivers}" var="caregivers"
                                         style="margin-top: 20px; max-width: 1000px;" emptyMessage="Keine gefunden.">
                                <f:facet name="header">
                                    <h:outputText value="Bezugspersonen" style="color: white;"/>
                                </f:facet>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{caregivers.firstName} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{caregivers.lastName} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Privat" />
                                    </f:facet>
                                    <h:outputText value="#{caregivers.privatePhone} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Geschäftlich" />
                                    </f:facet>
                                    <h:outputText value="#{caregivers.businessPhone} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="E-Mail Adresse" />
                                    </f:facet>
                                    <h:outputText value="#{caregivers.email} "/>
                                </p:column>
                            </p:dataTable>

                            <p:dataTable id="overview-intern-sibblings-table" value="#{childDetailController.child.internalSiblings}"
                                         var="siblings-intern" style="margin-top: 20px; max-width: 500px;" class="col-md-6" emptyMessage="Keine gefunden.">
                                <f:facet name="header">
                                    <h:outputText value="Geschwister in der Kinderkrippe" style="color: white;"/>
                                </f:facet>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{siblings-intern.firstName} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{siblings-intern.lastName} "/>
                                </p:column>

                                <p:column width="150px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Geburtsdatum"/>
                                    </f:facet>
                                    <h:outputText value="#{siblings-intern.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>

                            <p:dataTable id="overview-extern-sibblings-table" value="#{childDetailController.child.externalSiblings}"
                                         var="siblings-extern" style="margin-top: 20px; max-width: 500px;" class="col-md-6" emptyMessage="Keine gefunden.">
                                <f:facet name="header">
                                    <h:outputText value="Geschwister außerhalb der Kinderkrippe" style="color: white;"/>
                                </f:facet>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{siblings-extern.firstName} "/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{siblings-extern.lastName} "/>
                                </p:column>

                                <p:column width="150px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Geburtsdatum"/>
                                    </f:facet>
                                    <h:outputText value="#{siblings-extern.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </p:outputPanel>
                    </p:scrollPanel>

                    <div style="margin-bottom: 20px;"/>

                    <h:commandLink id="export-pdf">
                        <p:graphicImage value="../../resources/images/pdf-icon.png" width="45" />
                        <p:dataExporter type="pdf"
                                        target="overview-child-table,overview-note-table,overview-parent-table,overview-emergency-table,overview-caregiver-table"
                                        fileName="stammblatt" encoding="UTF-8"/>
                    </h:commandLink>
                    <h:commandLink id="print">
                        <p:graphicImage value="../../resources/images/print-icon.png" width="45" style="margin-left: 20px; clear: both"/>
                        <p:printer target="sheet-content" />
                    </h:commandLink>

                    <p:commandButton value="Schließen" oncomplete="PF('overview-sheet').hide()" style="clear: both; width: 25%; margin-left: 20px;" class="button-abort"/>

                </p:dialog>
            </h:form>
        </div>

        <script type="text/javascript">
            PrimeFaces.locales['de'] = {
                closeText: 'Schließen',
                prevText: 'Zurück',
                nextText: 'Weiter',
                monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                monthNamesShort: ['Jan', 'Feb', 'März', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'],
                dayNamesMin: ['So', 'Mo', 'Di', 'Mi ', 'Do', 'Fr ', 'Sa'],
                weekHeader: 'Woche',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Nur Zeit',
                timeText: 'Zeit',
                hourText: 'Stunde',
                minuteText: 'Minute',
                secondText: 'Sekunde',
                currentText: 'Aktuelles Datum',
                ampm: false,
                month: 'Monat',
                week: 'Woche',
                day: 'Tag',
                allDayText: 'Ganzer Tag' };
        </script>

    </ui:define>
</ui:composition>
