<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/main.xhtml"
>
    <ui:define name="content">
        <div class="main-menu">
            <h:outputStylesheet name="css/style-parent-main.css"/>
        </div>
        <div class="page-content container">


                <!-- Attendence window -->
                <div class="row">
                    <div class="col">
                        <h:form>
                            <div class="item-section col-md-4">
                                <div class="registration-background ">
                                    <div class="item-bar">
                                        <h4 class="item-bar-name">Nächster Tag</h4>
                                    </div>
                                    <div class="registration-text">
                                        <h3 class="registration-text-head">
                                            <h:outputText value="#{dayPlanDetailController.nextDayPlan.id.time}" >
                                                <f:convertDateTime pattern="EEE dd.MM.yy" locale="de_DE" />
                                            </h:outputText>
                                        </h3>
                                        <h3 class="registration-text-head">
                                            Angemeldet:
                                            <ui:repeat var="attendance"
                                                       value="#{attendanceListController.attendancesOfNextDayOfCurrentUser.toArray()}">

                                                 #{attendance.child.firstName}

                                            </ui:repeat>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </div>

                    <!-- Missing button-->
                    <div class="col">
                        <h:form>
                            <div class="item-section col-md-4">
                                <a href="./attendance.xhtml" id="home-attendance">
                                    <div class="registration-button">
                                        <img src="../../resources/images/callsign.png"
                                             class="registration-button-icon"/>
                                        <h3 class="registration-button-text">Abwesenheit <br/> melden</h3>
                                    </div>
                                </a>
                            </div>
                        </h:form>
                    </div>
                </div>


                    <!-- Person button -->
                    <div class="row">
                        <div class="col">
                        <h:form>
                            <div class="item-section col-md-4">
                                <a href="./attendance.xhtml" id="home-caregiver">
                                    <div class="time-button">
                                        <img src="../../resources/images/person.png" class="time-button-icon"/>
                                        <h3 class="time-button-text">Abholperson <br/> festlegen</h3>
                                    </div>
                                </a>
                            </div>
                        </h:form>
                        </div>


                        <!-- Time window-->
                    <div class="col">
                        <h:form>
                            <div class="item-section col-md-4">
                                <div class="time-background">
                                    <div class="item-bar">
                                        <h4 class="item-bar-name">Heutige Bring/Abholzeiten</h4>
                                        <!--<a href="./home.xhtml"><img src="../../resources/images/config-icon.png" class="item-config-image" /></a>-->
                                    </div>
                                    <h3 class="bring-time-text time-text">Bringzeit:</h3> <br/>
                                    <h3 class="bring-time-value time-text">#{dayPlanDetailController.getArrivalTimeOfToday()}</h3>
                                    <h3 class="take-time-text time-text">Abholzeit:</h3><br/>
                                    <h3 class="take-time-value time-text">#{dayPlanDetailController.getDepartureTimeOfToday()}</h3>
                                </div>
                            </div>
                        </h:form>
                    </div>
                    </div>


                    <!-- Menu window -->
                    <div class="row">
                        <h:form>
                            <div class="item-section col-md-4">
                                <div class="menu-background">
                                    <div class="item-bar">
                                        <h4 class="item-bar-name">Essensanmeldungen:
                                            <h:outputText value="#{dayPlanDetailController.currentWeeksMonday.time}" >
                                                <f:convertDateTime pattern="dd.MM.yy" />
                                            </h:outputText> -
                                            <h:outputText value="#{dayPlanDetailController.currentWeeksSunday.time}" >
                                                <f:convertDateTime pattern="dd.MM.yy" />
                                            </h:outputText>
                                        </h4>
                                    </div>
                                    <div class="menu-text">
                                        <h3 class="menu-text-head">#{lunchListController.getThisWeeksLunchRegistrations()}</h3>
                                        <h3 class="menu-text-main">Anmeldung bis
                                            <h:outputText value="#{lunchDetailController.currentLunchDeadline.time}" >
                                                <f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
                                            </h:outputText>
                                        </h3>
                                        <a href="./lunch-overview.xhtml" id="home-lunch-overview">
                                            <div class="item-button">
                                                <h4 class="menu-small-button-text">Menü anzeigen</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </h:form>

                        <!-- Menu button-->
                        <h:form>
                            <div class="item-section col-md-4">
                                <a href="./lunch-registration.xhtml" id="home-lunch-registration">
                                    <div class="menu-button">
                                        <img src="../../resources/images/arrow.png" class="menu-button-icon"/>
                                        <h3 class="menu-button-text">Anmeldung <br/> verwalten</h3>
                                    </div>
                                </a>
                            </div>
                        </h:form>
                    </div>

                    <!-- Tasks button -->
                    <div class="row">
                        <h:form>
                            <div class="item-section col-md-4">
                                <a href="./task.xhtml" id="home-task">
                                    <div class="task-button">
                                        <img src="../../resources/images/task.png" class="task-button-icon"/>
                                        <h3 class="task-button-text">Aufgaben <br/> anzeigen</h3>
                                    </div>
                                </a>
                            </div>
                        </h:form>


                        <!-- Tasks window-->
                        <h:form>
                            <div class="item-section col-md-4">
                                <div class="task-background">
                                    <div class="item-bar">
                                        <h4 class="item-bar-name">Offene Aufgaben</h4>
                                        <!--<a href="./home.xhtml"><img src="../../resources/images/config-icon.png" class="item-config-image" /></a>-->
                                    </div>
                                    <div class="task-text">
                                        <h3 class="task-text-main">#{taskListController.numberOfActiveTasksOfCurrentUser} Aufgaben</h3>
                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </div>
                </div>
    </ui:define>
</ui:composition>