<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name="content">

        <div class="main-menu">
            <h:outputStylesheet name="css/style-parent-basic.css"/>
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <div class="page-content container">
            <h3>Mittagsessensübersicht für aktuelle Woche</h3>
            <h:form id="lunchForm">
                <div>
                    <div class="row">
                        <p:dataTable var="dayPlan" value="#{dayPlanListController.currentWeek}" widgetVar="dayTable"
                                     id="dayTable" scrollable="true" scrollHeight="600"
                                     class="dayPlanTable" emptyMessage="Keine Mahlzeiten gefunden"
                                     selectionMode="single" rowKey="#{dayPlan.id}" style="margin-top: 20px;">


                            <p:column headerText="Tag">
                                <h:outputText value="#{dayPlan.id.time}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Anmeldungen">
                                <ui:repeat var="lunch" value="#{dayPlan.lunches.toArray()}">

                                    <p>#{lunch.menu} (€
                                        <h:outputText value="#{lunch.price}">
                                            <f:convertNumber type="number" pattern="#0.00"/>
                                        </h:outputText>):
                                            <ui:repeat var="child" value="#{lunchRegistrationBean.getRegisteredChildren(lunch).toArray()}">

                                                <p> #{child.firstName} #{child.lastName}</p>

                                            </ui:repeat>
                                    </p>

                                </ui:repeat>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>