<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="content">

        <div class="main-menu">
            <h:outputStylesheet name="css/style-parent-basic.css"/>
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <div class="page-content container">
            <h3>Mittagsessensanmeldung für nächste Woche</h3>
            <h:form id="lunchForm">
                <div>
                    <div class="row">

                        <p:dataTable var="dayPlan" value="#{lunchRegistrationBean.nextWeek}" widgetVar="dayTable"
                                     id="dayTable" scrollable="true" scrollHeight="200"
                                     class="dayPlanTable" emptyMessage="Keine Mahlzeiten gefunden"
                                     selectionMode="single" tableStyle="table-layout: auto"
                                     selection="#{lunchRegistrationBean.dayPlan}"
                                     rowKey="#{dayPlan.id}" style="margin-top: 20px;">


                            <p:column headerText="Tag">
                                <h:outputText value="#{dayPlan.id.time}">
                                    <f:convertDateTime pattern="EEE dd.MM.yy" locale="de_DE" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Anmeldungen">
                                <ui:repeat var="lunch" value="#{dayPlan.lunches.toArray()}">

                                    <p>#{lunch.menu} (
                                        <h:outputText value="#{lunch.price}">
                                            <f:convertNumber type="number" pattern="#0.00€"/>
                                        </h:outputText>):
                                        <ui:repeat var="child"
                                                   value="#{lunchRegistrationBean.getRegisteredChildren(lunch).toArray()}">

                                            <p> #{child.firstName} #{child.lastName}</p>

                                        </ui:repeat>
                                    </p>

                                </ui:repeat>
                            </p:column>

                            <p:ajax event="rowSelect" update="@form" process="dayTable">
                                <f:setPropertyActionListener target="#{lunchRegistrationBean.dayPlanByTime}"
                                                             value="#{dayPlan.id}"/>
                            </p:ajax>

                        </p:dataTable>
                    </div>

                    <!-- Register button -->
                    <div class="row">
                        <div class="buttons-fix">
                            <!-- Colored buttons if day is selected -->
                            <c:if id="selected" test="#{lunchRegistrationBean.dayPlanSelected}">
                                <p:commandLink id="configdata" update="@form:dayTable"
                                               oncomplete="PF('lunch-registration').show()">
                                    <div class="col-md-6 button-fix reg" id="config-action">
                                        <img src="../../resources/images/add_user-green.png" class="button-fix-icon"
                                             id="config-icon"/>
                                        <h3 class="button-register-text">ANMELDEN</h3>
                                    </div>
                                </p:commandLink>
                            </c:if>

                            <!-- Gray buttons if no day is selected -->
                            <c:if id="not-selected" test="#{!lunchRegistrationBean.dayPlanSelected}">
                                <div class="col-md-6 button-fix dereg-inactive">
                                    <img src="../../resources/images/add_user-gray.png" class="button-fix-icon"/>
                                    <h3 class="button-deregister-text-inactive">ANMELDEN</h3>
                                </div>
                            </c:if>

                            <!-- Deregister button if day is selected -->
                            <c:if id="selected" test="#{lunchRegistrationBean.dayPlanSelected}">
                                <p:commandLink id="delete-caregiver"
                                               onclick="PF('lunch-deregistration').show();">
                                    <div class="col-md-6 button-fix dereg">

                                        <img src="../../resources/images/remove_user-red.png"
                                             class="button-fix-icon"/>
                                        <h3 class="button-deregister-text">ABMELDEN</h3>
                                    </div>
                                </p:commandLink>
                            </c:if>


                            <!-- Deregister button if no day is selected -->
                            <c:if id="not-selected" test="#{!lunchRegistrationBean.dayPlanSelected}">
                                <div class="col-md-6 button-fix dereg-inactive">
                                    <img src="../../resources/images/remove_user-gray.png" class="button-fix-icon"/>
                                    <h3 class="button-deregister-text-inactive">ABMELDEN</h3>
                                </div>
                            </c:if>
                        </div>
                    </div>

                    <p:dialog header="Anmeldungen" id="lunch-registration" widgetVar="lunch-registration"
                              modal="true" showEffect="fade" hideEffect="fade" resizable="false" closeOnEscape="true">
                        <p:outputPanel id="dayPlanData" rendered="#{not empty lunchRegistrationBean.getDayPlan()}">
                            <h:panelGrid>
                                <h:selectOneMenu id="lunch" class="menu-dropdown"
                                                 value="#{lunchRegistrationBean.lunch}">
                                    <f:selectItem itemLabel="Menu auswählen"
                                                  noSelectionOption="true"></f:selectItem>
                                    <f:selectItems value="#{lunchRegistrationBean.getDayPlan().getLunches()}"
                                                   var="lunch" itemValue="#{lunch.id}"
                                                   itemLabel="#{lunch.menu} €#{lunch.price}0"/>
                                </h:selectOneMenu>
                            </h:panelGrid>
                            <p:separator/>
                            <h:panelGrid>
                                <p:selectCheckboxMenu id="children" value="#{lunchRegistrationBean.attendances}"
                                                      label="Kinder"
                                                      filter="false" panelStyle="width:250px">
                                    <f:selectItems value="#{lunchRegistrationBean.possibleChildren}"
                                                   var="attendance" itemValue="#{attendance.id}"
                                                   itemLabel="#{attendance.child.firstName} #{attendance.child.lastName}"/>
                                </p:selectCheckboxMenu>
                            </h:panelGrid>
                            <p:separator/>
                            <h:panelGrid columns="2">
                                <p:commandButton value="Speichern" action="#{lunchRegistrationBean.saveRegistration()}"
                                                 oncomplete="PF('lunch-registration').hide()"
                                                 update=":lunchForm:dayTable" class="button-save"/>

                                <p:commandButton value="Abbrechen" onclick="PF('lunch-registration').hide()" class="button-abort"/>
                            </h:panelGrid>
                        </p:outputPanel>
                    </p:dialog>

                    <!-- Dialog for lunch deregistration, called by 'Abmelden' button -->
                    <p:dialog header="Anmeldungen löschen" widgetVar="lunch-deregistration" modal="true"
                              closeOnEscape="true">
                        <p>Möchten Sie alle Essensanmeldungen für diesen Tag stornieren? </p>

                        <p:commandButton id="deregistrat" value="Abmelden" process="@this" update="@form:dayTable"
                                         onclick="PF('lunch-deregistration').hide()" icon="ui-icon-check"
                                         class="button-save">
                            <f:actionListener binding="#{lunchRegistrationBean.deleteRegistration()}"/>
                        </p:commandButton>
                        <p:commandButton value="Abbrechen" type="button" onclick="PF('lunch-deregistration').hide()"
                                         styleClass="ui-confirmdialog-no"
                                         icon="ui-icon-close" class="button-abort"/>
                    </p:dialog>

                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="300">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"
                                         icon="ui-icon-check"/>
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"
                                         icon="ui-icon-close"/>
                    </p:confirmDialog>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>