<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
>

    <ui:define name="content">
        <div class="main-menu">
            <h:outputStylesheet name="css/style-parent-basic.css"/>
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <div class="page-content container" style="margin-top: 20px;">
            <h:form id="parent-settings-form">
                <p:outputPanel id="userData" rendered="#{not empty userDetailController.user}">
                    <h:panelGrid columns="2">

                        <p:outputLabel for="username" value="E-Mail: "/>
                        <p:inputText id="username" value="#{userDetailController.user.email}" disabled="true"/>

                        <p:outputLabel for="changePassword" value="Passwort ändern: "/>
                        <p:selectBooleanCheckbox id="changePassword" value="#{userDetailController.changePassword}">
                            <p:ajax event="change" update="parent-settings-form"/>
                        </p:selectBooleanCheckbox>

                        <h:outputLabel for="pwd1" value="Passwort: "/>
                        <p:password id="pwd1" value="#{userDetailController.newPassword}" match="pwd2"
                                    label="Password 1" disabled="#{!userDetailController.changePassword}"/>

                        <h:outputLabel for="pwd2" value="Passwort wiederholen: "/>
                        <p:password id="pwd2" value="#{userDetailController.newPasswordCheck}" label="Password 2"
                                    disabled="#{!userDetailController.changePassword}"/>

                        <p:separator/>
                        <p:separator/>

                        <p:outputLabel for="firstName" value="First Name: "/>
                        <p:inputText id="firstName" value="#{userDetailController.user.firstName}" required="true"/>
                        <p:outputLabel for="firstName" value="Last Name: "/>
                        <p:inputText id="lastName" value="#{userDetailController.user.lastName}" required="true"/>
                        <p:outputLabel for="privatePhone" value="Telefonnummer: "/>
                        <p:inputMask id="privatePhone" value="#{userDetailController.user.privatePhone}"
                                     mask="+(99) 999 - 9999?999999" required="true"/>
                        <p:outputLabel for="businessPhone" value="Phone: "/>
                        <p:inputMask id="businessPhone" value="#{userDetailController.user.businessPhone}"
                                     mask="+(99) 999 - 9999?999999"/>

                    </h:panelGrid>

                    <h:panelGrid>
                        <p:separator/>

                        <h:commandButton image="/imageParent?id=#{userDetailController.user.id}"
                                         style="max-height: 100px;">
                        </h:commandButton>
                        <p:fileUpload style="width:400px;" label="Profilbild" uploadLabel="Upload" cancelLabel="Abbrechen" multiple="false" fileLimit="1"
                                      allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                      fileUploadListener="#{fileUploadController.handleFileUploadParent}"
                                      invalidFileMessage="Nur JPG ist erlaubt!"
                                      invalidSizeMessage="Error"
                                      fileLimitMessage="Nur ein Bild!"/>
                        <p />

                        <image src="/imageParent?id=#{userDetailController.user.getId()}" style="width:300px;" />
                        <p />


                        <p:separator/>
                    </h:panelGrid>

                    <h:panelGrid columns="2">
                        <p:commandButton value="Speichern" action="./home.xhtml?faces-redirect=true"
                                         update="parent-settings-form" class="button-save"
                                         actionListener="#{userDetailController.doSaveUser()}"/>
                        <p:commandButton value="Abbrechen" actionListender="#{userDetailController.doReloadUser()}"
                                         action="./home.xhtml?faces-redirect=true" class="button-abort"/>
                    </h:panelGrid>
                </p:outputPanel>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
