<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name="content">

        <div class="main-menu">
            <h:outputStylesheet name="css/style-parent-basic.css"/>
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <div class="page-content container">
            <h:form>
                <p:dataTable value="#{taskListController.getActiveTasksOfCurrentUser()}" var="task" widgetVar="taskTable"
                             class="task-table"
                             scrollable="true" scrollHeight="400" emptyMessage="Keine Aufgaben festgelegt"
                             rowKey="#{task.id}" filteredValue="#{taskListController.filteredTasks}" style="margin-top: 20px;">

                    <f:facet name="header">
                        <p:outputPanel class="header-text">
                            <h:outputText value="Suche nach Aufgabe " style="color: white;"/>
                            <p:inputText id="globalFilter" onkeyup="PF('taskTable').filter()" style="width: 200px;"
                                         placeholder="Information eingeben"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column filterBy="#{task.subject}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{task.subject}">
                        <f:facet name="header">
                            <h:outputText value="Bezeichnung"/>
                        </f:facet>
                        <h:outputText value="#{task.subject}"/>
                    </p:column>

                    <p:column filterBy="#{task.description}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{task.description}">
                        <f:facet name="header">
                            <h:outputText value="Beschreibung"/>
                        </f:facet>
                        <h:outputText value="#{task.description}"/>
                    </p:column>

                    <p:column width="100px;" filterBy="#{task.deadlineFrom.time}" filterMatchMode="contains"
                              filterStyle="display: none;">
                        <f:facet name="header">
                            <h:outputText value="Beginn"/>
                        </f:facet>
                        <h:outputText value="#{task.deadlineFrom.time}">
                            <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CEST"/>
                        </h:outputText>
                    </p:column>

                    <p:column width="100px;" filterBy="#{task.deadlineTo.time}" filterMatchMode="contains"
                              filterStyle="display: none;">
                        <f:facet name="header">
                            <h:outputText value="Fälligkeit"/>
                        </f:facet>
                        <h:outputText value="#{task.deadlineTo.time}">
                            <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CEST"/>
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </h:form>
        </div>

    </ui:define>
</ui:composition>