<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name ="content">
        <h:outputStylesheet name="/css/style-employee-main.css"/>
        <div class="page-content container">
            
            <h:form>
                <div class="schedule-wrapper ">
                    <h2 class="heading" style="float: left;">Tagesplaner</h2>
                    
                    <h:commandLink id="print-dayplan" style="float: right;">
                        <p:graphicImage value="../../resources/images/print-icon.png" width="45" style="float: right;"/>
                        <p:printer target="schedule"/>
                    </h:commandLink> 
                    <!-- It is not possible to export a primefaces schedule with the dataExporter-->
                    <!--<p:column>
                        <h:commandLink id="export-pdf-calendar" style="float: left;">
                        <p:graphicImage value="../../resources/images/pdf-icon.png" width="45" style="float: left;"/>
                        <p:dataExporter type="pdf" 
                                        target="dayplaner" 
                                        fileName="stammblatt" encoding="UTF-8"/>
                        </h:commandLink>
                    </p:column>-->
                    <h:panelGrid columnClasses="schedular" style=" width: 100%; max-height: 800px;"> 
                        <p:schedule id="schedule" value="#{scheduleView.eventModel}" locale="de" widgetVar="dayplaner" timeZone="CET" firstHour="7"
                                    timeFormat="HH:mm" axisFormat="HH:mm" style="height: 10px !important;">                                                              
                            <p:ajax event="dateSelect" listener="#{dayPlanDetailController.setDayPlanFromSchedule}" update="eventShow" oncomplete="PF('eventDialog').show();" />
                            <p:ajax event="eventSelect" listener="#{dayPlanDetailController.setDayPlanFromSchedule2}" update="eventShow" oncomplete="PF('eventDialog').show();" />
                            
                        </p:schedule>
                    </h:panelGrid>      
                </div>
                
                
                <p:dialog widgetVar="eventDialog" header="Event Details" showEffect="clip" hideEffect="clip" id="eventShow" closeOnEscape="true">  
                    <p:selectOneMenu id="add-something" value="#{scheduleView.selectMenu}" disabled="#{!dayPlanDetailController.selected}" >
                        <f:selectItem itemLabel="Typ auswählen" noSelectionOption="true"/>
                        <f:selectItem itemLabel="Bring/Abholzeit" itemValue="1"/>
                        <f:selectItem itemLabel="Maximalbelegung" itemValue="2"/>
                        <f:selectItem itemLabel="Geschlossen" itemValue="3"/>
                        <p:ajax event="change" process="@this" update="eventShow" oncomplete="PF('eventDialog').show();"/>
                    </p:selectOneMenu>   
                    
                    <p:messages id="wrongInput"/>
                    
                    <h:panelGrid id="start" rendered="#{scheduleView.notSet}">
                        <h:outputText value="Bitte wählen sie eine Art des Events aus" rendered="#{dayPlanDetailController.selected}"/>
                        <h:outputText value="An dem ausgewählten Tag ist die Kinderkrippe geschlossen" rendered="#{!dayPlanDetailController.selected}"/>
                        <h2></h2>
                        <p:commandButton value="Schließen" oncomplete="PF('eventDialog').hide()" class="button-create"/>
                    </h:panelGrid>
                    
                    <h:panelGrid id="times" rendered="#{scheduleView.first}">                              
                        <h4 style="margin-top: 20px; margin-bottom: 0px;">Bringzeit: </h4>
                        <p:separator style="margin-top: 0px;"/>
                        
                        <p:column>
                            <p:outputLabel for="arraiv1" value="Früheste: " />
                            <p:calendar id="arraiv1" value="#{dayPlanDetailController.earliestArrivalTime}" pattern="HH:mm" timeOnly="true" 
                                        required="true" requiredMessage="Früheste Bringzeit fehlt!" class="input-field-advanced"/>
                        </p:column>
                        
                        <p:column>
                            <p:outputLabel for="arraiv2" value="Späteste: " />
                            <p:calendar id="arraiv2" value="#{dayPlanDetailController.latestArrivalTime}" pattern="HH:mm" timeOnly="true" 
                                        required="true" requiredMessage="Späteste Bringzeit fehlt!" class="input-field-advanced"/>
                        </p:column>
                        
                        <h4 style="margin-top: 20px; margin-bottom: 0px;">Abholzeit: </h4>
                        <p:separator style="margin-top: 0px;"/>
                        
                        <p:column>
                            <p:outputLabel for="depart1" value="Früheste: "/>
                            <p:calendar id="depart1" value="#{dayPlanDetailController.earliestDepartureTime}" pattern="HH:mm" timeOnly="true" 
                                        required="true" requiredMessage="Früheste Abholzeit fehlt!" class="input-field-advanced"/>
                        </p:column>
                        
                        <p:column>
                            <p:outputLabel for="depart2" value="Späteste: "/>
                            <p:calendar id="depart2" value="#{dayPlanDetailController.latestDepartureTime}" pattern="HH:mm" timeOnly="true" 
                                        required="true" requiredMessage="Späteste Abholzeit fehlt!" class="input-field-advanced"/>
                        </p:column>
                        
                        <p:separator/>
                        
                        <p:column>
                            <p:commandButton value="Speichern" process="times @this" actionListener="#{dayPlanDetailController.save()}" 
                                             action="#{scheduleView.resetMenuSelection()}" update="wrongInput @form" class="button-save" 
                                             oncomplete="PF('dayplaner').update()"/>
                            <p:commandButton value="Abbrechen" action="#{scheduleView.resetMenuSelection()}" 
                                             oncomplete="PF('eventDialog').hide();" class="button-abort"/>
                        </p:column>
                    </h:panelGrid>
                    
                    <p:panelGrid id="attend" rendered="#{scheduleView.second}">
                        <h4 style="margin-top: 20px;">Maximalbelegung</h4>
                        <p:separator/>
                        
                        <p:row>
                            <p:outputLabel for="numAttendance" value="Anmeldungen: " />
                            <p:inputNumber id="numAttendance" value="#{dayPlanDetailController.numberOfChildren}" 
                                           disabled="true" style="float: right;" class="input-field" decimalPlaces="0"/>
                        </p:row>
                        <br/><br/>
                        <p:row>
                            <p:outputLabel for="maxAttendance" value="Maximalbelegung: "/>
                            <p:inputNumber id="maxAttendance" value="#{dayPlanDetailController.dayPlan.maxAttendances}" 
                                           decimalPlaces="0" style="float:right;" required="true" 
                                           requiredMessage="Maximalbelegung fehlt!" class="input-field"/>
                        </p:row>                           
                        
                        <p:separator/>
                        <p:commandButton value="Speichern"  process="attend @this" actionListener="#{dayPlanDetailController.save()}" 
                                         action="#{scheduleView.resetMenuSelection()}" update="wrongInput" class="button-save"/>
                        <p:commandButton value="Abbrechen" action="#{scheduleView.resetMenuSelection()}" oncomplete="PF('eventDialog').hide();"
                                         class="button-abort"/>                            
                    </p:panelGrid>
                    
                    <p:panelGrid id="holiday" rendered="#{scheduleView.third}">
                        <h4 style="margin-top: 20px;">Tag als geschlossen festlegen</h4>
                        <p:separator/>
                        
                        <p:row>
                            <p:outputLabel for="closed" value="Status: "/>
                            <p:selectBooleanButton id="closed" value="#{dayPlanDetailController.closed}" class="button-boolean"
                                                   style="margin-left: 20px;" onLabel="Offen" offLabel="Geschlossen"/>
                        </p:row>
                        
                        <p:separator/>
                        
                        <p:commandButton value="Speichern"  process="holiday" action="#{scheduleView.resetMenuSelection()}" 
                                         oncomplete="PF('eventDialog').hide();" class="button-save"/>
                        <p:commandButton value="Abbrechen" action="#{scheduleView.resetMenuSelection()}" 
                                         oncomplete="PF('eventDialog').hide();" class="button-abort"/>
                    </p:panelGrid>                                            
                </p:dialog> 
                
            </h:form>
            
            <script type="text/javascript">
                PrimeFaces.locales['de'] = {
                    closeText: 'Schließen',
                    prevText: 'Vorheriger Tag',
                    nextText: 'Nächster Tag',
                    currentText: 'Heute',
                    monthNames: ['Januar','Februar','März','April','Mai','Juni',
                        'Juli','August','September','Oktober','November','Dezember'],
                    monthNamesShort: ['Jan','Feb','Mar','Apr','Mai','Jun',
                        'Jul','Aug','Sep','Okt','Nov','Dez'],
                    dayNames: ['Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag','Sonntag'],
                    dayNamesShort: ['So','Mo','Di','Mi','Do','Fr','Sa'],
                    dayNamesMin: ['So','Mo','Di','Mi','Do','Fr','Sa'],
                    weekHeader: 'Wo',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: '',
                    ampm: false,
                    month: 'Monat',
                    week: 'Woche',
                    day: 'Tag',
                    allDayText : 'Ganztägig'                    
                };
            </script>
        </div>
        
        
    </ui:define>
</ui:composition>
