<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:outputStylesheet name="/css/style-dayplan-overview.css"/>
        <h:form>
        <div class="page-content container">
            <h3>Jahresstatistik</h3>            
            
            <p:chart type="bar" model="#{chartView.attendancesBar}" style="min-height:500px; background: white !important;" class="col-md-12"/>
            
            <p:chart type="bar" model="#{chartView.attendancePercentageBar}" style="min-height:500px; margin-top: 20px;" class="col-md-12"/>
        </div>        
        </h:form> 
    </ui:define>
</ui:composition>