<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <h:outputStylesheet name="/css/style-dayplan-select.css"/>
            
        <div class="page-content container">
            <a href="./dayplan-overview.xhtml" id="dayplan-overview">
                <div class="menu-item first col-md-4">
                    <h3 class="menu-item-text">Tagesübersicht</h3>
                </div></a>
            <a href="./dayplan-calendar.xhtml" id="dayplan-schedular">
                <div class="menu-item second col-md-4">
                    <h3 class="menu-item-text">Kalenderansicht</h3>
                </div></a>
            <a href="./dayplan-year.xhtml" id="dayplan-year-statistics">
                <div class="menu-item third col-md-4">
                    <h3 class="menu-item-text">Jahresstatistik</h3>
                </div></a>
        </div>
    </ui:define>
</ui:composition>