<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name ="content">
        <div class="main-menu">
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <div class="page-content container">
            <h:form id="form">  
                        
                        <!-- Employee select table on top of site-->
                        <p:dataTable var="employee" value="#{userListController.allEmployees}" widgetVar="employeeTable" 
                                     id="employeeTable" scrollable="true" scrollHeight="200"
                                     emptyMessage="Keine Eltern gefunden" filteredValue="#{userListController.filteredUsers}" 
                                     tableStyle="table-layout: auto" selectionMode="single" selection="#{userDetailController.user}" 
                                     rowKey="#{employee.id}" style="margin-top: 20px;" class="table" >
                            <f:facet name="header">
                                <p:outputPanel class="header-text">
                                    <h:outputText value="Suche nach Kind: " style="font-size: 16px;"/>
                                    <p:inputText id="globalFilter" onkeyup="PF('employeeTable').filter()" style="width: 200px; font-size: 14px;" placeholder="Name eingeben"/>
                                </p:outputPanel>
                            </f:facet>                                
                                
                            <p:column headerText="Vorname" filterBy="#{employee.firstName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{employee.firstName}">
                                <h:outputText value="#{employee.firstName}"/>
                            </p:column>    
                                
                            <p:column headerText="Nachname" filterBy="#{employee.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{employee.lastName}">
                                <h:outputText value="#{employee.lastName}" />
                            </p:column>                                
                                
                            <p:column headerText="E-Mail Adresse" filterBy="#{employee.email}" filterMatchMode="contains" filterStyle="display: none;">
                                <h:outputText value="#{employee.email}"/>
                            </p:column>                                                                                  
                                
                            <p:ajax event="rowSelect" update="form" process="employeeTable">
                                <f:setPropertyActionListener target="#{userDetailController.userById}" value="#{employee.id}"/>
                            </p:ajax>                                                                  
                                
                        </p:dataTable>                                     
                    
                    
                <!-- Gray buttons if no employee is selected -->
                <c:if id="not-selected" test="#{!userDetailController.userSelected}">
                    <div class="row">
                        <div class="buttons-relative">
                            
                            <p:commandLink id="passwd1" actionListener="#{userDetailController.setCurrentUser()}" process="@this" update="form" 
                                           oncomplete="PF('change-password').show();"><div class="col-md-4 button-active button-blue" id="blade-action1">
                                    <img src="../../resources/images/key-blue.png" class="button-active-icon" id="blade1-icon"/>
                                    <h3 class="button-blue-text">PASSWORT ÄNDERN</h3>
                                </div></p:commandLink>
                                    
                            <div class="col-md-4 button-passive ">
                                <img src="../../resources/images/phone-gray.png" class="button-passive-icon"/>
                                <h3 class="button-passive-text">KONTAKTDATEN</h3>
                            </div>                                                                                            
                                
                            <div class="col-md-4 button-passive">
                                <img src="../../resources/images/pen-gray.png" class="button-passive-icon"/>
                                <h3 class="button-passive-text">DATEN BEARBEITEN</h3>
                            </div>
                        </div>
                    </div>
                </c:if>
                    
                    
                <!-- Colored buttons if employee is selected -->
                <c:if id="selected" test="#{userDetailController.userSelected}">           
                    <div class="row">
                        <div class="buttons-relative">
                            <p:commandLink id="passwd2" actionListener="#{userDetailController.setCurrentUser()}" process="@this" update="form" 
                                           oncomplete="PF('change-password').show();">
                                <div class="col-md-4 button-active button-blue" id="blade-action2">
                                    <img src="../../resources/images/key-blue.png" class="button-active-icon" id="blade2-icon"/>
                                    <h3 class="button-blue-text">PASSWORT ÄNDERN</h3>
                                </div></p:commandLink>
                                    
                            <p:commandLink id="contact" oncomplete="PF('contact-dialog').show();">
                                <div class="col-md-4 button-active button-orange" id="contact-action">
                                    <img src="../../resources/images/phone-red.png" class="button-active-icon" id="contact-icon"/>
                                    <h3 class="button-orange-text">KONTAKTDATEN</h3>
                                </div></p:commandLink>                                                            
                                    
                            <p:commandLink id="config"  action="#{fileUploadController.setId(userDetailController.user.id)}" 
                                           oncomplete="PF('config-employee').show();">
                                <div class="col-md-4 button-active button-purple" id="config-action">
                                    <img src="../../resources/images/pen-purple.png" class="button-active-icon" id="config-icon"/>
                                    <h3 class="button-purple-text">DATEN BEARBEITEN</h3>
                                </div>
                            </p:commandLink>
                        </div>
                    </div>                                                                  
                </c:if>
                    
                <!-- Register button -->
                <div class="row">
                    <div class="buttons-fix">
                        <a href="./employee-registration.xhtml" id="add-employee"><div class="col-md-6 button-green">                                
                                <img src="../../resources/images/add_user-green.png" class="button-big-icon"/>
                                <h3 class="button-green-text">MITARBEITER HINZUFÜGEN</h3>
                            </div></a>
                                
                        <!-- Deregister button if child is selected -->
                        <c:if id="selected" test="#{userDetailController.userSelected}">      
                            <p:commandLink id="delete-employee" update="form" oncomplete="PF('remove-employee').show();" ><div class="col-md-6 button-fix button-red">
                                    <img src="../../resources/images/remove_user-red.png" class="button-big-icon"/>
                                    <h3 class="button-red-text">MITARBEITER LÖSCHEN</h3>
                                </div></p:commandLink>
                        </c:if>
                            
                            
                        <!-- Deregister button if no child is selected -->
                        <c:if id="not-selected" test="#{!userDetailController.userSelected}">
                            <div class="col-md-6 button-big-inactive">
                                <img src="../../resources/images/remove_user-gray.png" class="button-big-icon"/>
                                <h3 class="button-big-inactive-text">MITARBEITER LÖSCHEN</h3>
                            </div>
                        </c:if>
                    </div>                
                </div>                  
                    
                    
                <!-- Dialog to change attributes of employee, called by 'Daten bearbeiten' button -->
                <p:dialog header="Daten bearbeiten" widgetVar="config-employee" modal="true" closeOnEscape="true">
                    
                    <p:outputPanel id="employeeData" rendered="#{not empty userDetailController.user}">
                        <p:messages id="wrongInputEmployee"/>
                        
                        <h:panelGrid columns="1" id="edit-employee-input" class="grid" style="max-width: 1000px; min-width: 600px;">
                        
                            <p:outputLabel for="firstName" value="Vorname: " />
                            <p:inputText id="firstName" value="#{userDetailController.user.firstName}" required="true"
                                         requiredMessage="Vorname fehlt!" class="input-field"/>                      
                                
                            <p:outputLabel for="firstName" value="Nachname: "  style="margin-top: 20px;"/>
                            <p:inputText id="lastName" value="#{userDetailController.user.lastName}" required="true"
                                         requiredMessage="Nachname fehlt" class="input-field" />
                                
                            <p:outputLabel for="email" value="E-Mail Adresse: " style="margin-top: 20px;"/>
                            <p:inputText id="email" value="#{userDetailController.user.email}" required="true"
                                         requiredMessage="E-Mail Adresse fehlt" class="input-field"
                                         validatorMessage="E-Mail Adresse ungültig!">
                                 <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                            </p:inputText>
                                
                            <p:outputLabel for="employee-config-number-private" value="Telefon privat: " style="margin-top: 20px;"/>
                            <p:inputMask id="employee-config-number-private" label="Telefonnummer privat: " class="input-field" 
                                         value="#{userDetailController.user.privatePhone}" required="true" requiredMessage="Telefonnummer privat fehlt!"
                                         mask="+(99) 999-9999?999999" disabled="#{userDetailController.userRegistrated}" style="width: 60%;"/>
                                
                            <p:outputLabel for="employee-config-number-business" value="Telefon geschäftlich: " style="margin-top: 20px;"/>
                            <p:inputMask id="employee-config-number-business" label="Telefonnummer privat" style="width: 60%;"
                                         value="#{userDetailController.user.businessPhone}" required="false" mask="+(99) 999-9999?999999" 
                                         disabled="#{userDetailController.userRegistrated}" class="input-field"/>
                                
                            
                        </h:panelGrid>                       
                            
                        <p:separator/>
                            
                        <h:panelGrid columns="3">
                            <p:commandButton id="save" value="Speichern" process="edit-employee-input @this" action="#{userDetailController.doUpdateEmployee()}" 
                                             update="wrongInputEmployee" class="button-save"/>                            
                            <p:commandButton id="abort" action="#{userDetailController.doReloadUser()}" process="@this" 
                                             value="Abbrechen" oncomplete="PF('config-employee').hide()" class="button-abort"/>
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog> 
                    
                    
                <!-- Dialog to show contact-data, called by 'Kontaktdaten' button -->
                <p:dialog header="Kontaktdaten" widgetVar="contact-dialog" modal="true" closeOnEscape="true">
                    <p:dataTable id="parent-table" value="" style="margin-top: 20px; max-width: 1000px;" class="table">
                        <f:facet name="header">  
                            <h:outputText value="Mitarbeiter"/>  
                        </f:facet>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Vorname" />
                            </f:facet>
                            <h:outputText value="#{userDetailController.user.firstName}"/>
                        </p:column>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Nachname" />
                            </f:facet>
                            <h:outputText value="#{userDetailController.user.firstName}"/>
                        </p:column>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Telefon Privat" />
                            </f:facet>
                            <h:outputText value="#{userDetailController.user.privatePhone}"/>
                        </p:column>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Telefon Geschäftlich" />
                            </f:facet>
                            <h:outputText value="#{userDetailController.user.businessPhone}"/>
                        </p:column>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Email" />
                            </f:facet>
                            <h:outputText  value="#{userDetailController.user.email}"/>
                        </p:column>                        
                    </p:dataTable>    
                    
                    <p:commandButton value="Schließen" oncomplete="PF('contact-dialog').hide()" 
                                     style="clear: both; width: 25%; margin-left: 20px;" class="button-create"/>
                </p:dialog>      
                    
                    
                <p:dialog header="Passwort ändern" widgetVar="change-password" dynamic="true" closeOnEscape="true">                   
                    <h:panelGrid columns="1" id="pas-grid" class="grid">
                            <h:outputLabel for="empl-pwd1" value="Passwort: "/>
                            <p:password id="empl-pwd1" value="#{userDetailController.newPassword}" match="empl-pwd2" 
                                        label="Password 1" class="input-field"/>
                                
                            <h:outputLabel for="empl-pwd2" value="Passwort wiederholen: " style="margin-top: 20px;"/>
                            <p:password id="empl-pwd2" value="#{userDetailController.newPasswordCheck}" label="Password 2" 
                                        style="margin-top: 20px;" class="input-field"/>
                        </h:panelGrid>
                    <p:separator/>       
                    <p:commandButton value="Speichern" process="pas-grid @this" action="#{userDetailController.doSaveUser()}" 
                                     update="@this" oncomplete="PF('change-password').hide();" class="button-save"/>
                    <p:commandButton value="Abbrechen" oncomplete="PF('change-password').hide()" class="button-abort"/>
                </p:dialog>
                    
                    
                <!-- Dialog for child deregistration, called by 'Kind abmelden' button -->
                <p:dialog header="Mitarbeiter löschen" widgetVar="remove-employee" modal="true" closeOnEscape="true">
                    <c:if test="#{!userDetailController.loggedinUser}">
                        <p:dataTable id="remove-employee-table" value="" style="margin-top: 20px; max-width: 1000px;" class="table">                          
                        <f:facet name="header">  
                            <h:outputText value="Mitarbeiter"/>  
                        </f:facet>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Vorname" />
                            </f:facet>
                            <h:outputText value="#{userDetailController.user.firstName} "/>
                        </p:column>                                
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Nachname" />
                            </f:facet>
                            <h:outputText value="#{userDetailController.user.lastName} "/>
                        </p:column>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="E-Mail Adresse" />
                            </f:facet>
                            <h:outputText value="#{userDetailController.user.email} "/>
                        </p:column>         
                    </p:dataTable>
                        
                        <p:commandButton id="deregistrat" value="Löschen" process="@this" action="#{userDetailController.doDeleteUser()}" class="button-save">
                            <p:confirm header="Wirklich löschen?" 
                                       message="Wollen Sie wirklich #{userDetailController.user.firstName} #{userDetailController.user.lastName} löschen wollen ?"/>
                        </p:commandButton>
                        <p:commandButton id="abort-dereg" value="Abbrechen" oncomplete="PF('remove-employee').hide()" class="button-abort"/>
                    </c:if>
                    
                     <c:if test="#{userDetailController.loggedinUser}">    
                         <h3>Sie können sich nicht selbst löschen!</h3><br/>
                         <h4>Falls Sie die Kinderkrippe verlassen, muss ein Kollege Sie entfernen.</h4>
                         <p:separator/>
                         <p:commandButton value="Schließen" oncomplete="PF('remove-employee').hide();"/>
                    </c:if>
                </p:dialog>
                    
                 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>   
            </h:form>        
        </div>        
    </ui:define>
</ui:composition>