<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
        <div class="main-menu">
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <div class="page-content container">
            <h:form id="form">
            <!-- Notification window -->
                <div class="col" style="width: 100%;">
                    <h:form id="messageForm">
                        <div class="notify-section col-md-5" style="width: 100%;">
                            <div class="notify-top">
                                <h4 class="notify-top-text">Benachrichtigungen</h4>
                            </div>
                            <p:dataTable var="message" id="messageTable" value="#{messageListController.visibleEmployeeMessages}"
                                         scrollable="true" scrollHeight="800" class="notify-table" emptyMessage="Keine neuen Benachrichtigungen">

                                <p:column>
                                    <h:outputText value="#{message.subject}" style="font-weight: bold;"/>
                                    <br/><br/>
                                    <h:outputText value="#{message.content}"/>
                                </p:column>
                                <p:column width="70px;" style="text-align: center;">
                                    <p:commandButton update=":form:messageEditDlg" oncomplete="PF('messageEditDlg').show()"
                                                     icon="fa fa-fw fa-check" title="Edit" id="confirm-message" class="button-save">
                                        <f:setPropertyActionListener value="#{message}" target="#{messageDetailController.message}"/>
                                    </p:commandButton>
                                    <p:tooltip for="confirm-message" value="Als gelesen markieren"/>
                                </p:column>

                            </p:dataTable>
                        </div>
                    </h:form>
                </div>
                    
                    
                            
                            <!-- Attendence window -->
                            <h:form>
                                <div class="item-section col-md-5">
                                    <div class="attendance-background">
                                        <div class="item-bar">
                                            <h4 class="item-bar-name">Anmeldungen</h4>                                            
                                        </div>
                                        <h3 class="attendance-text">#{dayPlanDetailController.numberOfChildrenToday}</h3>
                                        <p:commandLink oncomplete="PF('todaysChildrenDlg').show();" id="show-registration">
                                            <div class="item-button">
                                                <h4 class="item-attendance-text">Alle anzeigen</h4> 
                                            </div></p:commandLink>
                                    </div>
                                        
                                </div>
                            </h:form>
                                
                                
                            <!-- Lunch window -->
                            <h:form>
                                <div class="item-section col-md-5">
                                    <div class="lunch-background">
                                        <div class="item-bar">
                                            <h4 class="item-bar-name">Mittagessen</h4>                                            
                                        </div>
                                        <div class="row">
<!--                                        <h3 class="lunch-text-heading">Menü 1: &nbsp;</h3>-->
                                        <h3 class="lunch-text-heading"> #{lunchDetailController.todaysLunch1}</h3>
                                        </div>
                                        <a href="./dayplan-overview.xhtml" id="show-lunch">
                                            <div class="item-button">
                                                <h4 class="item-lunch-text">Alle anzeigen</h4> 
                                            </div>
                                        </a>
                                    </div>
                                        
                                </div>
                            </h:form>
                                
                            <div class="w-100"/>
                                
                            <!-- Parents window -->
                            <h:form>
                                <div class="item-section col-md-5">
                                    <div class="parent-background">
                                        <div class="item-bar">
                                            <h4 class="item-bar-name">Offene Aufgaben der Eltern</h4>                                            
                                        </div>
                                        <h3 class="parent-text">#{taskListController.uncompletedTasks.size()} Aufgaben</h3>
                                        <a href="./parent-tasks.xhtml" id="show-task">
                                            <div class="item-button">
                                                <h4 class="item-parent-text">Alle anzeigen</h4> 
                                            </div>
                                        </a>
                                    </div>                    
                                </div>
                            </h:form>
                                
                                
                            <!-- Additional Info -->
                            <h:form>
                                <div class="item-section col-md-5">
                                    <div class="time-background">
                                        <div class="item-bar">
                                            <h4 class="item-bar-name">Bring/Abholzeiten</h4>                                            
                                        </div>
                                        
                                        <h:outputText class="parent-text-small" value="#{dayPlanDetailController.arrivalTimeOfToday}" style="margin-left: 20px; "/>                                        
                                        
                                        <br/>
                                        
                                        <h:outputText class="parent-text-small" value="#{dayPlanDetailController.departureTimeOfToday}" style="margin-left: 20%;"/>
                                        <a href="./dayplan-calendar.xhtml" id="show-time">
                                            <div class="item-button">
                                                <h4 class="item-time-text">Alle anzeigen</h4> 
                                            </div>
                                        </a>
                                    </div>                    
                                </div>
                            </h:form>
                
                <p:dialog widgetVar="todaysChildrenDlg" header="Angemeldete Kinder" modal="true" closeOnEscape="true">
                    <p:dataTable id="todaysChildrenTable" value="#{attendanceListController.attendancesOfTodayAttending}" 
                                 var="attendance" style="max-width: 700px;" scrollable="true" scrollHeight="300" 
                                 filteredValue="#{attendanceListController.filteredAttendances}"
                                 emptyMessage="Keine Kinder für heute angemeldet" widgetVar="todaysChildren">
                        <f:facet name="header">  
                            <h:outputText value="Heutige Anmeldungen"/>  
                        </f:facet>
                        
                        <f:facet name="header">
                        <p:outputPanel class="header-text">
                            <h:outputText value="Suche nach Kind " style="color: white; font-size: 16px;"/>
                            <p:inputText id="globalFilter" onkeyup="PF('todaysChildren').filter()" style="width: 200px; font-size: 14px;" placeholder="Name eingeben"/>
                        </p:outputPanel>
                    </f:facet>
                        
                        <p:column headerText="Bild" width="102" style="text-align: center;">
                            <h:commandButton image="/imageChild?id=#{attendance.child.id}" actionListener="#{imageController.setIdForChild(attendance.child.id)}"  style="max-height: 45px;">
                                <p:ajax event="click" listener="#{imageController.setIdForChild(attendance.child.id)}" process="@this" update=":form:picShow" oncomplete="PF('pictureBig').show()"/>
                            </h:commandButton>
                        </p:column>
                        
                        <p:column filterBy="#{attendance.child.firstName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{attendance.child.firstName}">
                            <f:facet name="header">
                                <h:outputText value="Vorname" style="font-size: 15px;"/>
                            </f:facet>
                            <h:outputText value="#{attendance.child.firstName}"/>
                        </p:column> 
                        
                        <p:column filterBy="#{attendance.child.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{attendance.child.lastName}">
                            <f:facet name="header">
                                <h:outputText value="Nachname" style="font-size: 15px;"/>
                            </f:facet>
                            <h:outputText value="#{attendance.child.lastName}"/>
                        </p:column>                        
                        
                        <p:column width="150px;" style="text-align: center;">
                            <f:facet name="header">
                                <h:outputText value="Geburtsdatum" style="font-size: 15px;"/>
                            </f:facet>
                            <h:outputText value="#{attendance.child.birthdate.time}">
                                <f:convertDateTime pattern="dd.MM.yyyy" type="date"/>
                            </h:outputText>
                        </p:column>
                        
                    </p:dataTable>
                    
                    <p:dataTable id="todaysMissingChildrenTable" value="#{attendanceListController.attendancesOfTodayMissing}" 
                                 var="attendance" style="max-width: 700px;" scrollable="true" scrollHeight="100" 
                                 filteredValue="#{attendanceListController.filteredAttendances}"
                                 emptyMessage="Keine Kinder als fehlend gemeldet" widgetVar="todaysMissingChildren">
                        <f:facet name="header">  
                            <h:outputText value="Fehlende Kinder"/>  
                        </f:facet>
                        
                        <f:facet name="header">
                        <p:outputPanel class="header-text">
                            <h:outputText value="Suche nach Kind " style="color: white; font-size: 16px;"/>
                            <p:inputText id="globalFilter" onkeyup="PF('todaysMissingChildren').filter()" style="width: 200px; font-size: 14px;" placeholder="Name eingeben"/>
                        </p:outputPanel>
                    </f:facet>
                        
                        <p:column headerText="Bild" width="102" style="text-align: center;">
                            <h:commandButton image="/imageChild?id=#{attendance.child.id}" actionListener="#{imageController.setIdForChild(attendance.child.id)}"  style="max-height: 45px;">
                                <p:ajax event="click" listener="#{imageController.setIdForChild(attendance.child.id)}" process="@this" update=":form:picShow" oncomplete="PF('pictureBig').show()"/>
                            </h:commandButton>
                        </p:column>
                        
                        <p:column filterBy="#{attendance.child.firstName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{attendance.child.firstName}">
                            <f:facet name="header">
                                <h:outputText value="Vorname" style="font-size: 15px;"/>
                            </f:facet>
                            <h:outputText value="#{attendance.child.firstName}"/>
                        </p:column> 
                        
                        <p:column filterBy="#{attendance.child.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{attendance.child.lastName}">
                            <f:facet name="header">
                                <h:outputText value="Nachname" style="font-size: 15px;"/>
                            </f:facet>
                            <h:outputText value="#{attendance.child.lastName}"/>
                        </p:column>                        
                        
                        <p:column width="150px;" style="text-align: center;">
                            <f:facet name="header">
                                <h:outputText value="Geburtsdatum" style="font-size: 15px;"/>
                            </f:facet>
                            <h:outputText value="#{attendance.child.birthdate.time}">
                                <f:convertDateTime pattern="dd.MM.yyyy" type="date"/>
                            </h:outputText>
                        </p:column>
                        
                    </p:dataTable>
                    
                    <p:commandButton value="Schließen" oncomplete="PF('todaysChildrenDlg').hide();" class="button-create" style="margin-top: 20px;"/>
                </p:dialog>

                <p:dialog widgetVar="messageEditDlg" id="messageEditDlg" header="#{messageDetailController.message.subject}"
                          modal="false" closeOnEscape="true" width="500">

                    <h:panelGrid columns="1" style="width: 100%;">

                        <p:spacer width="100" height="10" />

                        <h:outputText value="#{messageDetailController.message.content}"/>

                        <p:spacer width="100" height="10" />

                        <h:panelGrid columns="2" style="width: 100%;" rendered="#{messageDetailController.caregiver != null}">

                            <p:graphicImage  value="/imageCaregiver?id=#{messageDetailController.caregiver.id}" style="max-width: 200px; max-height: 200px;"/>

                            <p:fieldset style="margin:20px">
                                <h:panelGrid columns="2" cellpadding="5" style="width: 100%">
                                    <h:panelGrid columns="1" style="width: 100%">
                                        <h:outputText value="#{messageDetailController.caregiver.firstName}"/>

                                        <h:outputText value="#{messageDetailController.caregiver.lastName}"/>

                                        <h:outputText value="#{messageDetailController.caregiver.privatePhone}"/>

                                        <h:outputText value="#{messageDetailController.caregiver.businessPhone}"/>

                                        <h:panelGrid columns="1" style="width: 100%" rendered="#{not empty messageDetailController.caregiver.children}">
                                            <f:facet name="header">
                                                <h:outputText value="Kinder"/>
                                            </f:facet>
                                            <p:dataTable value="#{messageDetailController.caregiver.children}" var="child">
                                                <p:column>
                                                    <h:outputText value="#{child.firstName} "/>
                                                </p:column>
                                            </p:dataTable>
                                        </h:panelGrid>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </p:fieldset>

                        </h:panelGrid>

                        <p:separator/>

                        <h:panelGrid columns="2" style="width: 100%">

                            <p:commandButton value="Bezugsperson bestätigen" style="float:left;" rendered="#{messageDetailController.caregiver != null}"
                                             oncomplete="PF('dialog-deregistration').hide()" update="@all" class="button-save">
                                <f:actionListener binding="#{messageDetailController.confirmCaregiver()}"/>
                            </p:commandButton>

                            <p:commandButton value="Nachricht ausblenden" style="float:right;" oncomplete="PF('dialog-deregistration').hide()"
                                             update="@all" class="button-abort">
                                <f:actionListener binding="#{messageDetailController.hideMessage()}"/>
                            </p:commandButton>

                        </h:panelGrid>
                    </h:panelGrid>
                </p:dialog>
                
                    <p:dialog header="Bild" widgetVar="pictureBig" id="picShow" closeOnEscape="true" position="center center" width="1000px;" height="1000px;" onShow="PF('pictureBig').initPosition()">         
                        <p:graphicImage value="/imageChild?id=#{imageController.saveId}" style="max-height: 1000px; max-width: 1000px;"/>
                </p:dialog> 
                            
            </h:form>
        </div>
    </ui:define>
</ui:composition>