<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name ="content">
        <div class="main-menu">
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <div class="page-content container">
            <h:head/>
            <h:form id="form">        
                <div class="row datepicker" style="margin-top: 10px;">
                    <p:commandButton icon="fa fa-fw fa-arrow-circle-left" actionListener="#{lunchConfigurationBean.setPrevWeek()}" process="@this" 
                                     update="form" id="prevWeek" class="button-arrow"/> 
                    <p:tooltip id="prev" for="prevWeek" value="Vorherige Woche" position="bottom"/>
                    
                    <h:outputText style="font-size: 30px; margin-top: 50px !important;" value="#{lunchConfigurationBean.weekRange}"/>
                   
                    <p:commandButton icon="fa fa-fw fa-arrow-circle-right" actionListener="#{lunchConfigurationBean.setNextWeek()}" process="@this" 
                                     update="form" id="nextWeek" class="button-arrow"/>
                    <p:tooltip id="next" for="nextWeek" value="Nächste Woche" position="bottom"/>
                    
                    <p:commandButton icon="fa fa-fw fa-calendar" action="#{lunchConfigurationBean.setToday()}" process="@this" update="@form" 
                                     id="currentWeek" class="button-calendar"/>
                    <p:tooltip id="tod" for="currentWeek" value="Diese Woche" position="bottom"/>
                </div>
                <h:panelGrid id="days" class="grid">
                        <h3 class="lunch-date">Montag #{lunchConfigurationBean.getDayOfWeekAsString(1)}</h3>
                        <div class="row">
                            <p:dataTable value="#{dayPlanDetailController.getDayPlan(lunchConfigurationBean.getDayOfWeek(1)).lunches}" var="lunch" 
                                         emptyMessage="Noch keine Gerichte festgelegt" style="width: 100% !important;">                                                                                               
                                
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Gericht" />
                                    </f:facet>
                                    <h:outputText value="#{lunch.menu}" />                                     
                                </p:column>
                                    
                                <p:column width="100px;" style="text-align: center;">  
                                    <f:facet name="header">
                                        <h:outputText value="Preis" />
                                    </f:facet>
                                    <h:outputText value="#{lunch.price}" ><f:convertNumber type="currency" pattern="#0.00€"/></h:outputText>
                                </p:column>     
                                    
                                <p:column width="120px;">
                                    <f:facet name="header">
                                        <h:outputText value="Bearbeiten" />
                                    </f:facet>
                                    <p:commandButton icon="fa fa-fw fa-pencil" process="@this" actionListener="#{lunchDetailController.setById(lunch.id)}" 
                                                     update="@form" oncomplete="PF('edit-lunch').show()" class="button-config" style="float: left;"/> 
                                    <p:commandButton icon="fa fa-fw fa-trash" process="@this" actionListener="#{lunchDetailController.deleteById(lunch.id)}" 
                                                     update="@form" class="button-delete"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                        <p:commandButton icon="fa fa-fw fa-plus"  actionListener="#{dayPlanDetailController.setDayPlan(lunchConfigurationBean.getDayOfWeek(1))}" 
                                         process="@this" oncomplete="PF('add-lunch').show();" class="button-create">
                            <f:setPropertyActionListener value="#{lunchConfigurationBean.getDayOfWeek(1)}" target="#{dayPlanDetailController.dayPlan}"/>
                        </p:commandButton>
                        
                    <p:separator/>                    
                        
                        <h3 class="lunch-date">Dienstag #{lunchConfigurationBean.getDayOfWeekAsString(2)}</h3>
                        <div class="row input-fields">
                            <p:dataTable value="#{dayPlanDetailController.getDayPlan(lunchConfigurationBean.getDayOfWeek(2)).lunches}" var="lunch" 
                                         emptyMessage="Noch keine Gerichte festgelegt">
                                <p:column>
                                    <h:outputText value="#{lunch.menu}" />                                     
                                </p:column>
                                    
                                <p:column width="100px;" style="text-align: center;">   
                                    <h:outputText value="#{lunch.price}" ><f:convertNumber type="currency" pattern="#0.00€" /></h:outputText>
                                </p:column>     
                                    
                                <p:column width="120px;">
                                    <p:commandButton icon="fa fa-fw fa-pencil" process="@this" actionListener="#{lunchDetailController.setById(lunch.id)}" 
                                                     update="@form" oncomplete="PF('edit-lunch').show()" class="button-config" style="float: left;"/> 
                                    <p:commandButton icon="fa fa-fw fa-trash" process="@this" actionListener="#{lunchDetailController.deleteById(lunch.id)}" 
                                                     update="@form" class="button-delete"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                        <p:commandButton icon="fa fa-fw fa-plus"  action="#{dayPlanDetailController.setDayPlan(lunchConfigurationBean.getDayOfWeek(2))}" 
                                         process="@this" oncomplete="PF('add-lunch').show();" class="button-create"/>
                        
                    <p:separator/>
                        
                        <h3 class="lunch-date">Mittwoch #{lunchConfigurationBean.getDayOfWeekAsString(3)}</h3>
                        <div class="row input-fields">
                            <p:dataTable value="#{dayPlanDetailController.getDayPlan(lunchConfigurationBean.getDayOfWeek(3)).lunches}" var="lunch" 
                                         emptyMessage="Noch keine Gerichte festgelegt">
                                <p:column>
                                    <h:outputText value="#{lunch.menu}" />                                     
                                </p:column>
                                    
                                <p:column width="100px;" style="text-align: center;">    
                                    <h:outputText value="#{lunch.price}" ><f:convertNumber type="currency" pattern="#0.00€" /></h:outputText>
                                </p:column>     
                                    
                                <p:column width="120px;">
                                    <p:commandButton icon="fa fa-fw fa-pencil" process="@this" actionListener="#{lunchDetailController.setById(lunch.id)}" 
                                                     update="@form" oncomplete="PF('edit-lunch').show()" class="button-config" style="float: left;"/> 
                                    <p:commandButton icon="fa fa-fw fa-trash" process="@this" actionListener="#{lunchDetailController.deleteById(lunch.id)}" 
                                                     update="@form" class="button-delete"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                        <p:commandButton icon="fa fa-fw fa-plus"  action="#{dayPlanDetailController.setDayPlan(lunchConfigurationBean.getDayOfWeek(3))}" 
                                         process="@this" oncomplete="PF('add-lunch').show();" class="button-create"/>
                        
                    <p:separator/>
                        
                        <h3 class="lunch-date">Donnerstag #{lunchConfigurationBean.getDayOfWeekAsString(4)}</h3>
                        <div class="row input-fields">
                            <p:dataTable value="#{dayPlanDetailController.getDayPlan(lunchConfigurationBean.getDayOfWeek(4)).lunches}" var="lunch" 
                                         emptyMessage="Noch keine Gerichte festgelegt" >
                                <p:column>
                                    <h:outputText value="#{lunch.menu}" />                                     
                                </p:column>
                                    
                                <p:column width="100px;" style="text-align: center;">           
                                    <h:outputText value="#{lunch.price}" ><f:convertNumber type="currency" pattern="#0.00€" /></h:outputText>
                                </p:column>     
                                    
                                <p:column width="120px;">
                                    <p:commandButton icon="fa fa-fw fa-pencil" process="@this" actionListener="#{lunchDetailController.setById(lunch.id)}" 
                                                     update="@form" oncomplete="PF('edit-lunch').show()" class="button-config" style="float: left;"/> 
                                    <p:commandButton icon="fa fa-fw fa-trash" process="@this" actionListener="#{lunchDetailController.deleteById(lunch.id)}" 
                                                     update="@form" class="button-delete"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                        <p:commandButton icon="fa fa-fw fa-plus" action="#{dayPlanDetailController.setDayPlan(lunchConfigurationBean.getDayOfWeek(4))}" 
                                         process="@this" oncomplete="PF('add-lunch').show();" class="button-create"/>
                        
                    <p:separator/>
                        
                        <h3 class="lunch-date">Freitag #{lunchConfigurationBean.getDayOfWeekAsString(5)}</h3>
                        <div class="row input-fields">
                            <p:dataTable value="#{dayPlanDetailController.getDayPlan(lunchConfigurationBean.getDayOfWeek(5)).lunches}" var="lunch" 
                                         emptyMessage="Noch keine Gerichte festgelegt">
                                <p:column>
                                    <h:outputText value="#{lunch.menu}" />                                     
                                </p:column>
                                    
                                <p:column width="100px;" style="text-align: center;">   
                                    <h:outputText value="#{lunch.price}" ><f:convertNumber type="currency" pattern="#0.00€" /></h:outputText>
                                </p:column>     
                                    
                                <p:column width="120px;">
                                    <p:commandButton icon="fa fa-fw fa-pencil" process="@this" actionListener="#{lunchDetailController.setById(lunch.id)}" 
                                                     update="@form" oncomplete="PF('edit-lunch').show()" class="button-config" style="float: left;"/> 
                                    <p:commandButton icon="fa fa-fw fa-trash" process="@this" actionListener="#{lunchDetailController.deleteById(lunch.id)}" 
                                                     update="@form" class="button-delete"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                        <p:commandButton icon="fa fa-fw fa-plus"  action="#{dayPlanDetailController.setDayPlan(lunchConfigurationBean.getDayOfWeek(5))}" 
                                         process="@this" oncomplete="PF('add-lunch').show();" class="button-create"/>
                        
                    <p:separator/>
                        
                        <h3 class="lunch-date">Samstag #{lunchConfigurationBean.getDayOfWeekAsString(6)}</h3>
                        <div class="row input-fields">
                            <p:dataTable value="#{dayPlanDetailController.getDayPlan(lunchConfigurationBean.getDayOfWeek(6)).lunches}" var="lunch" 
                                         styleClass="dayTable" emptyMessage="Noch keine Gerichte festgelegt">
                                <p:column>
                                    <h:outputText value="#{lunch.menu}" />                                     
                                </p:column>
                                    
                                <p:column width="100px;" style="text-align: center;">     
                                    <h:outputText value="#{lunch.price}" ><f:convertNumber type="currency" pattern="#0.00€" /></h:outputText>
                                </p:column>     
                                    
                                <p:column width="120px;">
                                    <p:commandButton icon="fa fa-fw fa-pencil" process="@this" actionListener="#{lunchDetailController.setById(lunch.id)}"
                                                     update="@form" oncomplete="PF('edit-lunch').show()" class="button-config" style="float: left;"/> 
                                    <p:commandButton icon="fa fa-fw fa-trash" process="@this" actionListener="#{lunchDetailController.deleteById(lunch.id)}" 
                                                     update="@form" class="button-delete"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                        <p:commandButton icon="fa fa-fw fa-plus"  action="#{dayPlanDetailController.setDayPlan(lunchConfigurationBean.getDayOfWeek(6))}" 
                                         process="@this" oncomplete="PF('add-lunch').show();" class="button-create"/>
                        
                    <p:separator/>
                        
                        <h3 class="lunch-date">Sonntag #{lunchConfigurationBean.getDayOfWeekAsString(7)}</h3>
                        <div class="row input-fields">
                            <p:dataTable value="#{dayPlanDetailController.getDayPlan(lunchConfigurationBean.getDayOfWeek(7)).lunches}" var="lunch" 
                                         emptyMessage="Noch keine Gerichte festgelegt">
                                <p:column>
                                    <h:outputText value="#{lunch.menu}" />                                     
                                </p:column>
                                    
                                <p:column width="100px;" style="text-align: center;">  
                                    <h:outputText value="#{lunch.price}" ><f:convertNumber type="currency" pattern="#0.00€" /></h:outputText>
                                </p:column>     
                                    
                                <p:column width="120px;">
                                    <p:commandButton icon="fa fa-fw fa-pencil" process="@this" actionListener="#{lunchDetailController.setById(lunch.id)}" 
                                                     update="@form" oncomplete="PF('edit-lunch').show()" class="button-config" style="float: left;"/> 
                                    <p:commandButton icon="fa fa-fw fa-trash" process="@this" actionListener="#{lunchDetailController.deleteById(lunch.id)}" 
                                                     update="@form" class="button-delete"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                        <p:commandButton icon="fa fa-fw fa-plus"   action="#{dayPlanDetailController.setDayPlan(lunchConfigurationBean.getDayOfWeek(7))}" 
                                         process="@this" oncomplete="PF('add-lunch').show();" class="button-create" style="margin-bottom: 20px;"/>                 
                        
                    </h:panelGrid>
                        
                    <p:dialog header="Gericht bearbeiten" modal="ture" closeOnEscape="true" widgetVar="edit-lunch">     
                        <p:messages id="editInput"/>
                        <h:panelGrid id="edit-menu" class="grid" columns="1">
                            <p:outputLabel for="editMenuDescription" value="Menü: "/>
                            <p:inputText id="editMenuDescription" value="#{lunchDetailController.lunch.menu}" rendered="#{lunchDetailController.selected}" 
                                         required="true" requiredMessage="Menü fehlt!" class="input-field">
                            <f:validateLength minimum="2" />                         
                        </p:inputText>
                            
                            <p:outputLabel for="editMenuPrice" value="Preis: " style="margin-top: 20px;"/>
                            <p:inputNumber id="editMenuPrice" value="#{lunchDetailController.lunch.price}" required="true" requiredMessage="Preis fehlt!" 
                                           symbol="€" symbolPosition="s" minValue="0" rendered="#{lunchDetailController.selected}" class="input-field-advanced"/>
                        </h:panelGrid>
                        <p:separator/>
                        <p:commandButton value="Speichern" process="edit-menu editInput @this" actionListener="#{lunchDetailController.save()}" 
                                         update="editInput days" class="button-save"/>
                        <p:commandButton value="Abbrechen" oncomplete="PF('edit-lunch').hide()" class="button-abort"/>
                    </p:dialog>
                        
                    <p:dialog header="Gericht hinzufügen" widgetVar="add-lunch" modal="true" closeOnEscape="true">
                        <p:messages id="createInput"/>
                        <h:panelGrid columns="1" id="create-menu" class="grid">
                            <p:outputLabel for="menuDescription" value="Menü:"/>
                            <p:inputText id="menuDescription" value="#{lunchDetailController.menu}" required="true" requiredMessage="Menü fehlt!" class="input-field">
                                <f:validateLength minimum="2"/>
                            </p:inputText>
                                
                            <p:outputLabel for="menuPrice" value="Preis:" style="margin-top: 20px;"/>
                            <p:inputNumber id="menuPrice" value="#{lunchDetailController.price}" required="true" requiredMessage="Preis fehlt!" 
                                           symbol="€" symbolPosition="s" minValue="0" style="margin-top: 20px;" class="input-field-advanced"/>
                        </h:panelGrid>
                        <p:separator/>
                        <p:commandButton value="Speichern"  id="saveButton" process="create-menu createInput @this" 
                                         actionListener="#{lunchDetailController.addLunch(dayPlanDetailController.getDayPlan().getId().getTime())}" 
                                         update="createInput days" class="button-save"/>
                        <p:commandButton value="Abbrechen" oncomplete="PF('add-lunch').hide()" class="button-abort"/>
                    </p:dialog>
                                                                    
            </h:form>
        </div>
            
    </ui:define>
</ui:composition>
