<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="content">
        <div class="main-menu">
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <div class="page-content container">
            <h:form id="form">                  
                <!-- Parent selection -->
                <p:dataTable var="parent" value="#{userListController.allEnabledParents}" widgetVar="parentTable" id="parentTable" scrollable="true" scrollHeight="200"
                             emptyMessage="Keine Eltern gefunden" filteredValue="#{userListController.filteredParents}" class="table" tableStyle="table-layout: auto"
                             selectionMode="single" selection="#{userDetailController.user}" rowKey="#{parent.id}" style="margin-top: 20px;">
                                 
                    <f:facet name="header">
                        <p:outputPanel class="header-text">
                            <h:outputText value="Suche nach Eltern " style="color: white; font-size: 16px;"/>
                            <p:inputText id="globalFilter" onkeyup="PF('parentTable').filter()" style="width: 200px; font-size: 14px;" placeholder="Name eingeben"/>
                        </p:outputPanel>
                    </f:facet>
                        
                    <p:column headerText="Bild" width="102" style="text-align: center;">
                        <h:commandButton image="/imageParent?id=#{parent.id}" actionListener="#{imageController.setIdForParent(parent.id)}"  style="max-height: 45px;">
                            <p:ajax event="click" listener="#{imageController.setIdForParent(parent.id)}" process="@this" update="@form" oncomplete="PF('pictureBig').show()"/>
                        </h:commandButton>
                    </p:column>                             
                        
                    <p:column headerText="Vorname" filterBy="#{parent.firstName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{parent.firstName}">
                        <h:outputText value="#{parent.firstName}"/>
                    </p:column>    
                        
                    <p:column headerText="Nachname" filterBy="#{parent.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{parent.lastName}">
                        <h:outputText value="#{parent.lastName}" />
                    </p:column>                                
                        
                    <p:column headerText="E-Mail Adresse" filterBy="#{parent.email}" filterMatchMode="contains" filterStyle="display: none;">
                        <h:outputText value="#{parent.email}"/>
                    </p:column>                                                                                  
                        
                    <p:ajax event="rowSelect" process="@this" update="form"/>
                        
                </p:dataTable>         
                    
                    
                <!-- Gray buttons if no child is selected -->
                <p:panelGrid id="not-selected" rendered="#{!userDetailController.userSelected}">
                    <div class="row">
                        <div class="buttons-relative">
                            <div class="col-md-4 button-passive">
                                <img src="../../resources/images/file-gray.png" class="button-passive-icon"/>
                                <h3 class="button-passive-text">INFORMATIONEN</h3>
                            </div>
                                
                            <div class="col-md-4 button-passive">
                                <img src="../../resources/images/assign-gray.png" class="button-passive-icon" style="margin-bottom: 4px;"/>
                                <h3 class="button-passive-text">ABRECHNUNG</h3>
                            </div>
                                
                            <div class="col-md-4 button-passive">
                                <img src="../../resources/images/pen-gray.png" class="button-passive-icon"/>
                                <h3 class="button-passive-text" style="margin-top: 25px;">DATEN <br/>BEARBEITEN</h3>
                            </div>
                        </div>
                    </div>
                </p:panelGrid>
                    
                    
                <!-- Colored buttons if child is selected -->
                <p:panelGrid id="selected" rendered="#{userDetailController.userSelected}">           
                    <div class="row">
                        <div class="buttons-relative">
                            <p:commandLink id="information" oncomplete="PF('information-sheet').show()">
                                <div class="col-md-4 button-passive button-blue" id="blade-action">
                                    
                                    <img src="../../resources/images/file-blue.png" class="button-active-icon" id="blade-icon"/>
                                    <h3 class="button-blue-text">INFORMATIONEN</h3>                           
                                </div></p:commandLink>
                                    
                            <p:commandLink id="task" oncomplete="PF('bill').show()" >
                                <div class="col-md-4 button-active button-orange" id="assign-task-action">
                                    <img src="../../resources/images/assign-red.png" class="button-active-icon" style="margin-bottom: 2px;" id="assign-task-icon"/>
                                    <h3 class="button-orange-text">ABRECHNUNG</h3>
                                </div></p:commandLink>
                                    
                            <p:commandLink id="config" action="#{fileUploadController.setId(userDetailController.user.id)}" oncomplete="PF('configParent').show();">
                                <div class="col-md-4 button-active button-purple" id="config-action">
                                    <img src="../../resources/images/pen-purple.png" class="button-active-icon" id="config-icon"/>
                                    <h3 class="button-purple-text" style="margin-top: 25px;">DATEN <br/>BEARBEITEN</h3>
                                </div>
                            </p:commandLink>
                        </div>
                    </div>
                </p:panelGrid>
                    
                    
                <!-- Dialog to change attributes of parent, called by 'Daten bearbeiten' button -->
                <p:dialog header="Daten bearbeiten" widgetVar="configParent" modal="true" closeOnEscape="true" id="configData">
                    <p:outputPanel id="childData">
                        <p:messages id="wrongInputParentEdit"/>
                         <p:scrollPanel style="border: none; height: 300px;" >
                                
                            <h:panelGrid columns="1" id="config-parent-input" class="grid col-md-5" style="margin-left: 20px;">
                                    
                                    <p:outputLabel for="firstName" value="Vorname: " class="input-labels"/>
                                    <p:inputText id="firstName" value="#{userDetailController.user.firstName}" required="true"
                                                 requiredMessage="Vorname fehlt!" class="input-field"/>                      
                                                     
                                    <p:outputLabel for="firstName" value="Nachname: " style="margin-top: 20px;"/>
                                    <p:inputText id="lastName" value="#{userDetailController.user.lastName}" required="true"
                                                 requiredMessage="Nachname fehlt!" class="input-field"/>   
                                                     
                                    <p:outputLabel for="email" value="E-Mail Adresse: " style="margin-top: 20px;"/>
                                    <p:inputText id="email" value="#{userDetailController.user.email}" required="true" requiredMessage="E-Mail Adresse fehlt!"
                                                 validatorMessage="E-Mail Adresse ungültig!" class="input-field">
                                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                                    </p:inputText>
                                        
                                    <p:outputLabel for="parent-overview-number-private" value="Telefon privat: " style="margin-top: 20px;"/>
                                    <p:inputMask id="parent-overview-number-private" class="input-field" label="Telefonnummer privat: "
                                                 value="#{userDetailController.user.privatePhone}" required="true" style="width: 70%;"
                                                 disabled="#{userDetailController.userRegistrated}" mask="+(99) 999 - 9999?999999"
                                                 />
                                                     
                                    <p:outputLabel for="parent-overview-number-business" value="Telefon geschäftlich: " style="margin-top: 20px;"/>
                                    <p:inputMask id="parent-overview-number-business" class="input-field" label="Telefonnummer geschäftlich: " 
                                                 value="#{userDetailController.user.businessPhone}" required="false" style="width: 70%;"
                                                 disabled="#{userDetailController.userRegistrated}" mask="+(99) 999 - 9999?999999"/>
                                                     
                                </h:panelGrid>

                            <div class="col-md-5 col-md-offset-1">
                                
                                <p:graphicImage value="/imageParent?id=#{userDetailController.user.id}" style="max-width:150px; max-height: 150px; 
                                                margin-bottom: 10px; margin-left: 50px; margin-top: 20px;"/>
                                <p:fileUpload style="margin-top:50px; max-width: 300px;" label="Bild auswählen" uploadLabel="Hochladen" cancelLabel="Abbrechen" 
                                              multiple="false" fileLimit="1"
                                              allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                              fileUploadListener="#{fileUploadController.handleFileUploadParent}"
                                              invalidFileMessage="Nur JPG ist erlaubt!"
                                              invalidSizeMessage="Error"
                                              fileLimitMessage="Nur ein Bild!"/>
                            </div>
                         </p:scrollPanel>
                             
                        <p:separator />
                            
                        <p:dataTable value="#{userDetailController.user.children}" var="child" widgetVar="parentsChildrenTable" 
                                     style="max-width: 600px; margin-bottom: 0px;" class="table" id="childrenOverview">
                            
                            <p:column width="150px;" style="text-align: center">
                                <f:facet name="header">
                                    <h:outputText value="Bild" />
                                </f:facet>
                                <h:commandButton image="/imageChild?id=#{child.id}" actionListener="#{imageController.setIdForChild(child.id)}"  style="max-height: 45px;">
                                    <p:ajax event="click" listener="#{imageController.setIdForChild(child.id)}" process="@this" update=":form:picShow" oncomplete="PF('pictureBig').show()"/>
                                </h:commandButton>
                            </p:column>
                                
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Kinder" />
                                </f:facet>
                                <h:outputText value="#{child.firstName}  #{child.lastName}"/>
                            </p:column>                               
                                
                            <p:column width="100px;" style="text-align: center;">
                                <f:facet name="header">
                                    <h:outputText value="Zum Kind"/>
                                </f:facet>
                                <p:commandButton icon="fa fa-fw fa-share" actionListener="#{tempSaveBean.setChildIdAndRedirect(child.id)}" 
                                                 process="@this" class="button-redirect"/>
                            </p:column>
                                
                            <p:column width="100px;" style="text-align: center">
                                <f:facet name="header">
                                    <h:outputText value="Entfernen" />
                                </f:facet>
                                <p:commandButton icon="fa fa-fw fa-trash" action="#{userDetailController.removeChild()}" process="@this"
                                                 update="childrenOverview" class="button-delete" oncomplete="PF('configParent').show()">
                                    <f:setPropertyActionListener value="#{child}" target="#{userDetailController.child}"/>
                                    <p:confirm header="Kind löschen" message="Kind wirklich löschen?" />
                                </p:commandButton> 
                            </p:column>
                                
                        </p:dataTable>
                        
                        <p:commandButton icon="fa fa-fw fa-plus" class="button-create" id="add-child-button" 
                                         oncomplete="PF('select-child').show()"/>
                        <p:tooltip for="add-child-button" value="Registriertes Kind hinzufügen" position="bottom"/>
                            
                        <p:separator />
                            
                        <h:panelGrid columns="3">
                            <p:commandButton id="save" value="Speichern" process="config-parent-input @this" action="#{userDetailController.doSaveParentChanges()}" 
                                             update="wrongInputParentEdit :form:parentTable" class="button-save"/>                                
                            <p:commandButton id="abort" value="Abbrechen" oncomplete="PF('configParent').hide()" class="button-abort"/>
                        </h:panelGrid>
                    </p:outputPanel>
                </p:dialog> 
                    
                    
                <!-- Dialog to show contact-data, called by 'Kontaktdaten' button -->
                <p:dialog header="Aufgaben" widgetVar="bill" closeOnEscape="true">
                    <h3>Abrechnung</h3>
                    <p:dataTable id="bill-sheet" value="#{attendanceListController.getAttendancesByParentInTimespan(userDetailController.user.id)}" var="attendance" 
                                 style="margin-top: 20px; max-width: 500px;" sortBy="#{true}" scrollable="true" scrollHeight="300">
                                     
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Tag" />
                            </f:facet>
                            <h:outputText value="#{attendance.dayPlan.dayDate.time}">
                                <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                            </h:outputText>
                        </p:column>
                            
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Gericht" />
                            </f:facet>
                            <h:outputText value="#{attendance.lunch.menu}"/>
                        </p:column>
                            
                        <p:column width="80px;" style="text-align: right;">
                            <f:facet name="header">
                                <h:outputText value="Preis" style="text-align: center;"/>
                            </f:facet>
                            <h:outputText value="#{attendance.lunch.price}">
                                <f:convertNumber type="currency" pattern="#0.00€" />
                            </h:outputText>
                        </p:column>                                
                            
                        <p:summaryRow>
                            <p:column colspan="2" style="text-align: right;">
                                <h:outputText value="Gesamt:"/>
                            </p:column>
                                
                            <p:column style="text-align: right;">
                                <h:outputText value="#{attendanceListController.getTotalPriceInTimespan(userDetailController.user.id)}">
                                    <f:convertNumber type="currency" pattern="#0.00€" />
                                </h:outputText>
                            </p:column>
                        </p:summaryRow>
                    </p:dataTable>
                        
                    <p:separator/>
                        
                        
                    <h:panelGrid columns="2" style="float: right;">
                        
                        <h:commandLink style="clear: both; float: left;">
                            <img src="../../resources/images/csv.png" style="max-width: 50px; max-height: 50px; float: left;"/>
                            <p:dataExporter type="csv" target="bill-sheet" fileName="Abrechnung" pageOnly="true" />
                        </h:commandLink>
                        <p:column>
                            <h:commandLink>
                                <img src="/resources/images/xml.png" style="max-width: 50px; max-height: 50px; margin-left: 20px; float: left;"/>
                                <p:dataExporter type="xml" target="bill-sheet" fileName="Abrechnung" pageOnly="true" />
                            </h:commandLink>
                        </p:column>
                    </h:panelGrid>
                        
                    <h:panelGrid style="float: left; margin-top: 20px;" columns="2">
                        <!-- To send the mail with the bill, the sum has to be a argument and this is calculated in the 
                                         attendanceListController, where the userId is an argument for the calculation. This results in a 
                                         huge function call, but it is in this case the most efficient way -->
                        <p:commandButton value="Als E-Mail senden"  
                                         action="#{userDetailController.sendBill(attendanceListController.getTotalPriceInTimespan(userDetailController.user.id))}" 
                                         oncomplete="PF('bill').hide();" class="button-save"/>
                        <p:commandButton value="Schließen" oncomplete="PF('bill').hide();" class="button-abort"/>
                    </h:panelGrid>
                        
                        
                        
                </p:dialog>
                    
                    
                <!-- Dialog to show overview sheet of child, called by 'Stammblatt'button -->
                <p:dialog header="Informationen" widgetVar="information-sheet" modal="true" closeOnEscape="true">  
                    <p:scrollPanel style="border: none; height: 500px;" >
                        <p:outputPanel id="sheet-content">
                            <p:dataTable id="overview-parent-table" value="" style="margin-top: 20px; max-width: 1000px;">                            
                                <f:facet name="header">  
                                    <h:outputText value="Elternteil"/>  
                                </f:facet>                            
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{userDetailController.user.firstName} "/>
                                </p:column>                                
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{userDetailController.user.lastName} "/>
                                </p:column>
                                    
                                <p:column width="200px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Privat"/>
                                    </f:facet>
                                    <h:outputText value="#{userDetailController.user.privatePhone}"/>
                                </p:column> 
                                    
                                <p:column width="200px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Telefon Geschäftlich"/>
                                    </f:facet>
                                    <h:outputText value="#{userDetailController.user.businessPhone}"/>                                    
                                </p:column> 
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="E-Mail Adresse"/>
                                    </f:facet>
                                    <h:outputText value="#{userDetailController.user.email}"/>                                                                    
                                </p:column>                                                               
                            </p:dataTable>  
                                
                            <p:dataTable id="parent-child-table" value="#{userDetailController.user.children}" var="child" 
                                         style="margin-top: 20px; max-width: 1000px;" class="table">
                                <f:facet name="header">  
                                    <h:outputText value="Kinder"/>  
                                </f:facet> 
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Vorname" />
                                    </f:facet>
                                    <h:outputText value="#{child.firstName} "/>
                                </p:column>
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nachname" />
                                    </f:facet>
                                    <h:outputText value="#{child.lastName} "/>
                                </p:column>
                                    
                                <p:column width="150px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Geburtsdatum" />
                                    </f:facet>
                                    <h:outputText value="#{child.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                                
                            <p:dataTable id="parent-task-table" value="#{userDetailController.user.tasks}" var="task" 
                                         style="margin-top: 20px; max-width: 1000px;" class="table" 
                                         emptyMessage="Keine zugewiesenen Aufgaben">
                                <f:facet name="header">  
                                    <h:outputText value="Offene Aufgaben"/>  
                                </f:facet> 
                                <p:column width="150px;">
                                    <f:facet name="header">
                                        <h:outputText value="Bezeichnung: " />
                                    </f:facet>
                                    <h:outputText value="#{task.subject}"/>
                                </p:column>                                                             
                                    
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Beschreibung: " />
                                    </f:facet>
                                    <h:outputText value="#{task.description}"/>
                                </p:column>                                
                                    
                                <p:column width="100px;" style="text-align: center;">
                                    <f:facet name="header">
                                        <h:outputText value="Fälligkeit: " />
                                    </f:facet>
                                    <h:outputText value="#{task.deadlineTo.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>                                
                                    
                            </p:dataTable>
                        </p:outputPanel>
                    </p:scrollPanel>
                        
                        
                        
                    <p:separator/>
                    <h:commandLink id="export-pdf">
                        <p:graphicImage value="../../resources/images/pdf-icon.png" width="45"/>
                        <p:dataExporter type="pdf" 
                                        target="overview-child-table,overview-note-table,overview-parent-table,overview-emergency-table,overview-caregiver-table" 
                                        fileName="stammblatt" encoding="UTF-8"/>
                    </h:commandLink>
                    <h:commandLink id="print">
                        <p:graphicImage value="../../resources/images/print-icon.png" width="45" style="margin-left: 20px;"/>
                        <p:printer target="sheet-content" />
                    </h:commandLink>
                        
                    <p:commandButton value="Schließen" oncomplete="PF('information-sheet').hide()" 
                                     style="clear: both; width: 25%; margin-left: 20px;" class="button-create"/>
                </p:dialog>                                                
                    
                <!-- Dialog to show profilepicture in big-->
                <p:dialog header="Bild" widgetVar="pictureBig" id="picShow" modal="true" closeOnEscape="true">                             
                    <p:graphicImage value="/imageParent?id=#{imageController.saveId}" style="max-height: 1000px; max-width: 1000px;" rendered="#{imageController.imageFromParent}"/>
                    <p:graphicImage value="/imageChild?id=#{imageController.saveId}" style="max-height: 1000px; max-width: 1000px;" rendered="#{imageController.imageFromChild}"/>
                </p:dialog>  
                    
                <!-- Tasks button -->
                <div class="row">
                    <div class="buttons-fix">
                        <a href="./parent-registration.xhtml" id="create-overview"><div class="col-md-6 button-green">                                
                                <img src="../../resources/images/add_user-green.png" id="pin-icon" class="button-big-icon"/>
                                <h3 class="button-green-text">ELTERN ERSTELLEN</h3>
                            </div>
                        </a>  
                            
                        <p:commandLink oncomplete="PF('mailDialog').show();" id="send-mail"><div class="col-md-6 button-red">                                
                                <img src="../../resources/images/mail-red.png" id="mail-icon" class="button-big-icon" style="margin-left: 20px;"/>
                                <h3 class="button-red-text">EMAIL</h3>
                            </div>
                        </p:commandLink>
                    </div>
                </div>
                    
                
                <!-- Dialog to select a parent, which is added to the current child -->
                <p:dialog header="Elternteil hinzuügen" widgetVar="select-child" modal="ture" id="select-child-dialog"
                          closeOnEscape="true">
                    <p:dataTable var="child" value="#{childListController.children}" widgetVar="childSelectionTable" id="childSelectTable" scrollable="true" scrollHeight="200"
                                         emptyMessage="Keine Kinder gefunden" filteredValue="#{childListController.filteredChildren}" class="table" 
                                         tableStyle="table-layout: auto" selectionMode="single" selection="#{userDetailController.child}" rowKey="#{child.id}" style="margin-top: 20px;">
                                <f:facet name="header">
                                    <p:outputPanel class="header-text" style="text-align: left;">
                                        <h:outputText value="Suche nach Kind: " style="color: white; font-weight: 500;"/>
                                        <p:inputText id="globalFilter" onkeyup="PF('childTable').filter()" style="width: 200px; font-size: 16px;" placeholder="Name eingeben"/>
                                    </p:outputPanel>
                                </f:facet>
                                    
                                <p:column headerText="Bild" width="102">
                                    <h:commandButton image="/imageChild?id=#{child.id}" actionListener="#{imageController.setIdForChild(child.id)}"  style="max-height: 45px;">
                                        <p:ajax event="click" listener="#{imageController.setIdForChild(child.id)}" process="@this" update=":form:picShow" oncomplete="PF('pictureBig').show()"/>
                                    </h:commandButton>
                                </p:column>
                                    
                                <p:column headerText="Vorname" filterBy="#{child.firstName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{child.firstName}">
                                    <h:outputText value="#{child.firstName}"/>
                                </p:column>    
                                    
                                <p:column headerText="Nachname" filterBy="#{child.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{child.lastName}">
                                    <h:outputText value="#{child.lastName}" />
                                </p:column>                                
                                    
                                <p:column headerText="Geburtstag" width="150px;" style="text-align: center;" filterBy="#{child.birthdate.time}" filterMatchMode="contains" filterStyle="display:none;">
                                    <h:outputText value="#{child.birthdate.time}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CET"/>
                                    </h:outputText>
                                </p:column>
                                    
                                    
                                <p:ajax event="rowSelect" update="childSelectTable" process="childSelectTable">
                                    <f:setPropertyActionListener target="#{userDetailController.childById}" value="#{child.id}"/>
                                </p:ajax>                                                                  
                                    
                            </p:dataTable>    
                    <p:commandButton value="Kind hinzufügen" class="button-save" action="#{userDetailController.addChildToParent()}" 
                                     process="@this" update="childrenOverview" oncomplete="PF('select-child').hide()"/>
                    <p:commandButton value="Abbrechen" class="button-abort" oncomplete="PF('select-child').hide()"/>
                    
                </p:dialog>
                
                <!-- Dialog to send email to parent-->
                <p:dialog header="Email an #{userDetailController.user.firstName} #{userDetailController.user.lastName}" 
                          widgetVar="mailDialog" id="mail-dialog" closeOnEscape="true">
                    <p:selectOneButton value="#{mailController.selectedMailToAll}" class="select-one-button">
                        <f:selectItem itemLabel="E-Mail an alle" itemValue="#{true}"/>
                        <f:selectItem itemLabel="E-Mail an einen" itemValue="#{false}"/>
                        <p:ajax event="change" process="@this" update="mail-dialog" oncomplete="PF('mailDialog').show()"/>
                    </p:selectOneButton>
                    <p:messages id="wrongInputMail"/>
                        
                    <h:panelGrid columns="1" id="mail-input" rendered="#{mailController.selectedMailToAll}" class="grid">
                        <p:outputLabel for="mailSubjectAll" value="Betreff: " style="margin-top: 20px;"/>
                        <p:inputText id="mailSubjectAll" value="#{mailController.subject}" required="true"
                                     requiredMessage="Betreff fehlt!" class="input-field"/>
                                         
                        <p:outputLabel for="mailTextAll" value="Nachricht: " style="margin-top: 20px;"/>
                        <p:inputTextarea id="mailTextAll" value="#{mailController.text}" required="true"
                                         requiredMessage="Nachricht fehlt!" class="input-field"/>                                               
                    </h:panelGrid>
                    
                    <p:separator rendered="#{mailController.selectedMailToAll}" style="clear: both"/>
                    
                    <p:commandButton value="Senden" process="mail-input @this" action="#{mailController.sendMailToAll}"
                                     update="wrongInputMail" rendered="#{mailController.selectedMailToAll}" class="button-save">
                        <p:confirm header="Wirklich senden?" message="Sind Sie sicher, dass die Nachricht an ALLE Eltern gesendet werden soll?"/>
                    </p:commandButton>
                    <p:commandButton value="Abbrechen" oncomplete="PF('mailDialog').hide();" rendered="#{mailController.selectedMailToAll}" class="button-abort"/>
                        
                    <h:panelGrid columns="1" id="single-mail-input" rendered="#{!mailController.selectedMailToAll}" class="gird" width="100%;">
                        <h:panelGrid id="selected-user" rendered="#{userDetailController.userSelected}" class="grid" width="100%;">
                            
                            <p:outputLabel for="mailSubjectSingle" value="Betreff: " style="margin-top: 20px;"/>
                            <p:inputText id="mailSubjectSingle" value="#{mailController.subject}" required="true" 
                                         requiredMessage="Betreff fehlt!" class="input-field"/>
                                             
                            <p:outputLabel for="mailTextSingle" value="Nachricht: " style="margin-top: 20px;"/>
                            <p:inputTextarea id="mailTextSingle" value="#{mailController.text}" required="true"
                                             requiredMessage="Nachricht fehlt!" class="input-field"/>          
                        </h:panelGrid>       
                        <h:panelGrid id="not-selected-user" rendered="#{!userDetailController.userSelected}">
                            <h2>Bitte vorher Elternteil aus der Liste auswählen!</h2>
                            <p:commandButton value="Schließen" oncomplete="PF('mailDialog').hide()" class="button-abort"/>
                        </h:panelGrid>
                    </h:panelGrid>
                    
                    <p:separator rendered="#{!mailController.selectedMailToAll and userDetailController.userSelected}" style="clear: both"/>
                            
                        <p:commandButton value="Senden" process="single-mail-input @this" action="#{mailController.sendMail(userDetailController.user.email)}" 
                                         update="wrongInputMail" class="button-save" rendered="#{!mailController.selectedMailToAll and userDetailController.userSelected}"/>
                        <p:commandButton value="Abbrechen" oncomplete="PF('mailDialog').hide()" class="button-abort"
                                         rendered="#{!mailController.selectedMailToAll and userDetailController.userSelected}"/>
                        
                </p:dialog>
                    
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
                    
            </h:form>        
        </div>        
    </ui:define>
</ui:composition>