<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
                    
    <ui:define name ="content">
        <h:head/>
        <div class="main-menu">
            <h:outputStylesheet name="css/style-employee-main.css"/>
        </div>
        <h:form id="form">            
            <div class="page-content container">
                
                <p:remoteCommand autoRun="true" action="#{fileUploadController.setId(userDetailController.user.id)}" process="@this"/>
                
                <div class="heading">
                    <h1 class="heading-text">ELTERNTEIL ERSTELLEN</h1>
                </div>
                    
                <p:messages id="wrongInputParent"/>
                <h:panelGrid columns="1" id="create-parent-input" class="grid col-md-5">
                    <p:outputLabel for="guard-firstname" value="Vorname: "/>
                    <p:inputText id="guard-firstname" class="input-field" value="#{userDetailController.firstName}" 
                                 label="Vorname*" required="true" disabled="#{userDetailController.userRegistrated}" 
                                 requiredMessage="Vorname fehlt!"/>
                                     
                    <p:outputLabel for="guard-lastname" value="Nachname: " style="margin-top: 20px;"/>
                    <p:inputText id="guard-lastname" class="input-field" value="#{userDetailController.user.lastName}" 
                                 label="Nachname*" 
                                 required="true" requiredMessage="Nachname fehlt!" 
                                 disabled="#{userDetailController.userRegistrated}"/>
                                     
                    <p:outputLabel for="guard-mail" value="E-Mail Adresse: " style="margin-top: 20px;"/>
                    <p:inputText id="guard-mail" class="input-field" label="E-Mail Adresse" required="true" 
                                 value="#{userDetailController.user.email}" 
                                 requiredMessage="E-Mail Adresse fehlt!" validatorMessage="E-Mail Adresse ungültig!" 
                                 disabled="#{userDetailController.userRegistrated}">
                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />                                                                
                    </p:inputText>
                        
                    <p:outputLabel for="guard-number-private" value="Telefonnumber privat: " style="margin-top: 20px"/>
                    <p:inputMask id="guard-number-private" class="input-field" label="Telefonnummer privat" value="#{userDetailController.user.privatePhone}" 
                                 required="true" requiredMessage="Telefonnumer privat fehlt!" disabled="#{userDetailController.userRegistrated}"
                                 mask="+(99) 999 - 9999?999999" style="width: 60%;"/>
                                     
                    <p:outputLabel for="guard-number-business" value="Telefonnumer geschäftlich: " style="margin-top: 20px"/>
                    <p:inputMask id="guard-number-business" class="input-field" label="Telefonnummer geschäftlich" 
                                 value="#{userDetailController.user.businessPhone}" style="width: 60%;"
                                 required="false" disabled="#{userDetailController.userRegistrated}" mask="+(99) 999 - 9999?999999"/>
                                     
                </h:panelGrid>
                    
                    
                <div class="col-md-5" style="margin-left: 40px;">                                                                                                              
                    <p:graphicImage value="/imageParent?id=#{userDetailController.user.getId()}" style="width:200px; margin-top: 20px;" id="parentPic"/>
                    <p:fileUpload style="margin-top:20px; margin-bottom: 50px; clear: both;" label="Bild auswählen" uploadLabel="Hochladen" cancelLabel="Abbrechen" 
                                  multiple="false" fileLimit="1"
                                  allowTypes="/(\.|\/)(jpe?g)$/" sizeLimit="18000000"
                                  fileUploadListener="#{fileUploadController.handleFileUploadParent}"
                                  invalidFileMessage="Nur JPG ist erlaubt!"
                                  invalidSizeMessage="Error"
                                  fileLimitMessage="Nur ein Bild!"
                                  update="parentPic"
                                  disabled="#{childCreateController.parentSet}"/>
                                      
                </div>
                
                <!-- Dummy div to align buttons-->
                <div style="clear: both;"/>
                
                <p:commandButton value="Elternteil erstellen" process="create-parent-input @this" style="margin-top: 20px;"
                                 actionListener="#{userDetailController.doSaveParent()}" class="button-save"
                                 update="wrongInputParent form" disabled="#{childCreateController.parentSet}" >
                    <p:confirm header="Elternteil erstellen" message="Elternteil erstellen?" />
                    <f:setPropertyActionListener value="#{userDetailController.user.id}" target="#{childCreateController.parentId}"/>
                </p:commandButton>    
                <p:commandButton value="Abbrechen" action="./parent-settings.xhtml?faces-redirect=true" process="@this" class="button-abort"/>
                    
                <p:separator style="margin-top: 50px;"/>
                    
                <div class="child" style="margin-top: 50px;">
                    <h1>EIGENE KINDER</h1>
                    <div class="row">
                        
                        <p:dataTable var="parentsChild" value="#{userDetailController.user.children}" widgetVar="parentsChildrenTable" scrollable="true" scrollHeight="100"
                                     emptyMessage="Es wurde noch kein Kind festgelegt" class="tables" tableStyle="table-layout: auto">
                                         
                            <p:column headerText="Bild" width="102">
                                <h:commandButton image="/imageChild?id=#{parentsChild.id}" action="#{imageController.setIdForChild(parentsChild.id)}" style="max-height: 45px;">
                                    <p:ajax event="click" oncomplete="PF('pictureBig').show()"/>
                                </h:commandButton>
                            </p:column>
                                
                            <p:column headerText="Vorname">
                                <h:outputText value="#{parentsChild.firstName}"/>
                            </p:column>    
                                
                            <p:column headerText="Nachname">
                                <h:outputText value="#{parentsChild.lastName}" />
                            </p:column>                                
                                
                            <p:column headerText="Geburtstag" width="150px;" style="text-align: center;">
                                <h:outputText value="#{parentsChild.birthdate.time}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CEST"/>
                                </h:outputText>
                            </p:column>
                                
                        </p:dataTable>
                            
                        <h2>Alle Kinder</h2>
                        <p:dataTable var="child" value="#{childListController.children}" widgetVar="childTable" id="childTable" scrollable="true" scrollHeight="200"
                                     emptyMessage="Keine Kinder gefunden" filteredValue="#{childListController.filteredChildren}" class="childTableDesign" 
                                     tableStyle="table-layout: auto" selectionMode="single" selection="#{userDetailController.child}" rowKey="#{child.id}" 
                                     disabledSelection="#{!userDetailController.userRegistrated}" >
                            
                            <f:facet name="header">
                                <p:outputPanel class="header-text" style="text-align: left;">
                                    <h:outputText value="Suche nach Kind: " style="font-size: 16px;"/>
                                    <p:inputText id="globalFilter" onkeyup="PF('childTable').filter()" style="width: 200px; font-size: 14px;" 
                                                 placeholder="Information eingeben"/>
                                </p:outputPanel>
                            </f:facet>
                                
                            <p:column headerText="Bild" width="102">
                                <h:commandButton image="/imageChild?id=#{child.id}" action="#{imageController.setSaveId(child.id)}" style="max-height: 45px;">
                                    <p:ajax event="click" oncomplete="PF('pictureBig').show()"/>
                                </h:commandButton>
                            </p:column>
                                
                            <p:column headerText="Vorname" filterBy="#{child.firstName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{child.firstName}">
                                <h:outputText value="#{child.firstName}"/>
                            </p:column>    
                                
                            <p:column headerText="Nachname" filterBy="#{child.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{child.lastName}">
                                <h:outputText value="#{child.lastName}" />
                            </p:column>                                
                                
                            <p:column headerText="Geburtstag" width="150px;" style="text-align: center;" filterBy="#{child.birthdate.time}" filterMatchMode="contains" filterStyle="display:none;">
                                <h:outputText value="#{child.birthdate.time}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CEST"/>
                                </h:outputText>
                            </p:column>
                                
                            <p:column headerText="Notfallkontakt" filterBy="#{child.emergencyContact.firstName} #{child.emergencyContact.lastName}" filterMatchMode="contains" filterStyle="display:none;">
                                <h:outputText value="#{child.emergencyContact.lastName} #{child.emergencyContact.firstName}: &lt;br/&gt;" escape="false"/>
                                <h:outputText value="#{stringConverterBean.convertPhoneNumber(child.emergencyContact.privatePhone)}"/>
                            </p:column>
                                
                            <p:ajax event="rowSelect" update="@form" process="childTable">
                                <f:setPropertyActionListener target="#{userDetailController.childById}" value="#{child.id}"/>
                            </p:ajax>                                                                  
                                
                        </p:dataTable>     
                    </div>                                                                                
                </div>
                <p:commandButton value="Kind hinzufügen" actionListener="#{userDetailController.addChildToParent()}" process="@this" update="form" 
                                 style="margin-top: 20px;" disabled="#{!childCreateController.parentSet}" class="button-save"/>
                <p:commandButton value="Abbrechen" action="./parent-settings.xhtml?faces-redirect=true" process="@this" class="button-abort"/> 
                
                <p:commandButton value="Abschließen" action="./parent-settings.xhtml?faces-redirect=true" process="@this" class="button-create"
                                 style="min-height: 32px;  margin-bottom: 20px; width: 200px;"/>
                    
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" action="./parent-settings.xhtml?faces-redirect=true"/>
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </div>         
        </h:form>
    </ui:define>
</ui:composition>