<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name ="content">
        <h:outputStylesheet name="/css/style-employee-main.css"/>
        
        <div class="page-content container">
            <h:form id="form">
                <p:dataTable value="#{taskListController.uncompletedTasks}" var="task" widgetVar="taskTable" class="table" id="task-table"
                             scrollable="true" scrollHeight="400" emptyMessage="Keine Aufgaben festgelegt" selectionMode="single" selection="#{taskDetailController.task}" 
                             rowKey="#{task.id}" filteredValue="#{taskListController.filteredTasks}">
                    
                    <f:facet name="header">
                        <p:outputPanel class="header-text">
                            <h:outputText value="Suche nach Aufgabe " style="color: white;"/>
                            <p:inputText id="globalFilter" onkeyup="PF('taskTable').filter()" style="width: 200px;" placeholder="Information eingeben"/>
                        </p:outputPanel>
                    </f:facet>
                    
                    <p:column filterBy="#{task.subject}" filterMatchMode="contains" filterStyle="display: none;" >
                        <f:facet name="header">
                            <h:outputText value="Bezeichnung" />
                        </f:facet>
                        <h:outputText value="#{task.subject}"/>
                    </p:column>
                    
                    <p:column filterBy="#{task.description}" filterMatchMode="contains" filterStyle="display: none;">
                        <f:facet name="header">
                            <h:outputText value="Beschreibung" />
                        </f:facet>
                        <h:outputText value="#{task.description}"/>
                    </p:column>
                    
                    <p:column filterBy="#{task.parent.firstName} #{task.parent.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{task.parent.lastName}">
                        <f:facet name="header">
                            <h:outputText value="Zugewiesen" />
                        </f:facet>
                        <h:outputText value="#{task.parent.firstName} #{task.parent.lastName}"/>
                    </p:column>
                    
                    <p:column width="120px;" style="text-align: center;">
                        <f:facet name="header">
                            <h:outputText value="Bekanntgabe"/>
                        </f:facet>
                        <h:outputText value="#{task.infoDate.time}">
                            <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CET"/>
                        </h:outputText>
                    </p:column>
                    
                    <p:column width="120px;" style="text-align: center;">
                        <f:facet name="header">
                            <h:outputText value="Fälligkeits-Beginn"/>
                        </f:facet>
                        <h:outputText value="#{task.deadlineFrom.time}">
                            <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CET"/>
                        </h:outputText>
                    </p:column>
                    
                    <p:column width="120px;" filterBy="#{task.deadlineTo.time}" filterMatchMode="contains" filterStyle="display: none;" style="text-align: center;">
                        <f:facet name="header">
                            <h:outputText value="Fälligkeits-Ende" />
                        </f:facet>
                        <h:outputText value="#{task.deadlineTo.time}">
                            <f:convertDateTime pattern="dd.MM.yyyy" locale="de" timeZone="CET"/>
                        </h:outputText>
                    </p:column>    
                    
                    <p:column width="130px;" style="text-align: center;">
                        <f:facet name="header">
                            <h:outputText value="Abschließen"/>
                        </f:facet>
                        <p:commandButton icon="fa fa-fw fa-check" id="taskDone" actionListener="#{taskDetailController.setTaskById(task.id)}" 
                                         action="#{taskDetailController.complete()}" process="@this" update="form" class="button-save">
                            <p:confirm header="Aufgabe erledigt" message="Sind Sie sicher, dass die Aufgabe erledigt wurde?"/>
                        </p:commandButton>  
                        <p:tooltip for="taskDone" value="Aufgabe als Erledigt melden" position="left"/>                            
                    </p:column>
                    
                    <p:ajax event="rowSelect" update="@form" process="@this">
                        <f:setPropertyActionListener target="#{taskDetailController.taskById}" value="#{task.id}"/>
                    </p:ajax>   
                </p:dataTable>
                
                <div class="row">
                    <div class="buttons-relative">
                        <p:commandLink id="create-task" actionListener="#{taskDetailController.createTask()}" process="@this" update="form" 
                                       oncomplete="PF('create-task').show();"><div class="col-md-6 button-active button-blue" id="create-action">                                
                                <img src="../../resources/images/file-blue.png" class="button-active-icon" id="create-task-icon"/>
                                <h3 class="button-blue-text">ERSTELLEN</h3>                           
                            </div></p:commandLink>
                        
                                
                        <p:commandLink id="edit-task" process="@this" oncomplete="PF('edit-task').show();" rendered="#{taskDetailController.taskSelected}">
                            <div class="col-md-6 button-active button-purple" id="edit-action">
                                <img src="../../resources/images/pen-purple.png" class="button-active-icon" id="edit-task-icon"/>
                                <h3 class="button-purple-text">BEARBEITEN</h3>
                            </div></p:commandLink>         
                                    
                        <p:panelGrid id="selected" rendered="#{!taskDetailController.taskSelected}">
                            <div class="col-md-6 button-passive" id="edit-action">
                                <img src="../../resources/images/pen-gray.png" class="button-active-icon" id="edit-task-icon"/>
                                <h3 class="button-passive-text">BEARBEITEN</h3>
                            </div>
                        </p:panelGrid>
                    </div>
                </div>
                
                <p:dialog header="Aufgabe erstellen" widgetVar="create-task" modal="true" closeOnEscape="true" id="new-task-dialog">
                    <p:ajax event="close" listener="#{taskDetailController.abort()}" update="form"/>
                    <p:messages id="wrongInput" closable="true"/>
                    <h:panelGrid columns="1" id="new-task-input" class="grid col-md-5">
                        <p:outputLabel for="new-task-subject" value="Bezeichnung:" class="intput-description" style="margin-top: 20px;"/>
                        <p:inputText id="new-task-subject" class="input-field" value="#{taskDetailController.task.subject}" 
                                     required="true" immediate="true" requiredMessage="Bezeichnung fehlt!">
                            <f:validateLength minimum="2"/>         
                        </p:inputText>
                        <p:tooltip for="new-task-subject" value="Titel der Aufgabe"/>
                        
                        <p:outputLabel for="new-task-description" value="Beschreibung:" class="intput-description" style="margin-top: 20px;"/>
                        <p:inputTextarea id="new-task-description" class="input-field" value="#{taskDetailController.task.description}" 
                                         required="true" immediate="true" requiredMessage="Beschreibung fehlt!">
                            <f:validateLength minimum="2"/>                            
                        </p:inputTextarea>                                        
                        <p:tooltip for="new-task-description" value="Genauere Beschreibung der Aufgabe"/>
                    </h:panelGrid>
                    
                    
                    <h:panelGrid columns="1" id="new-task-date-input" class="grid col-md-5" style="margin-left: 50px; margin-bottom: 20px;">
                        <p:outputLabel for="new-task-deadlineFrom" value="Beginnzeitpunkt:" class="intput-description" style="margin-top: 20px;"/>
                        <p:calendar id="new-task-deadlineFrom" class="input-field-advanced" value="#{taskDetailController.deadlineFrom}" locale="de"
                                    required="true" immediate="true" pattern="dd.MM.yyyy" mindate="#{taskDetailController.currentDay}" 
                                    requiredMessage="Beginnzeitpunkt fehlt!" navigator="true" yearRange="c-0:c+2" mask="true" timeZone="CET">
                            <p:ajax event="dateSelect" process="@this" update="new-task-deadlineTo"/>
                        </p:calendar>
                        <p:tooltip for="new-task-deadlineFrom" value="Beginn der Aufgabe"/>
                        
                        <p:outputLabel for="new-task-deadlineTo" value="Endzeitpunkt:" class="intput-description" style="margin-top: 20px;"/>
                        <p:calendar id="new-task-deadlineTo" class="input-field-advanced" value="#{taskDetailController.deadlineTo}" locale="de" 
                                    required="true" immediate="true" pattern="dd.MM.yyyy" mindate="#{taskDetailController.deadlineFrom}" 
                                    disabled="#{empty taskDetailController.deadlineFrom}" timeZone="CET"
                                    requiredMessage="Endzeitpunkt fehlt!" yearRange="c-0:c+1" mask="true">
                            <p:ajax event="dateSelect" process="@this" update="new-task-infoDate"/>
                        </p:calendar>    
                        <p:tooltip for="new-task-deadlineTo" value="Vorher Beginnzeitpunkt auswählen"/>
                            
                        <p:outputLabel for="new-task-infoDate" value="Bekanntgabe:" class="intput-description" style="margin-top: 20px;"/>
                        <p:calendar id="new-task-infoDate" class="input-field-advanced" value="#{taskDetailController.infoDate}" locale="de" 
                                    required="true" immediate="true" pattern="dd.MM.yyyy" mindate="#{taskDetailController.currentDay}" 
                                    maxdate="#{taskDetailController.deadlineTo}" timeZone="CET"
                                    disabled="#{empty taskDetailController.deadlineTo}" requiredMessage="Bekanntgabe fehlt!" yearRange="c-0:c+1" mask="true">
                            <p:ajax event="dateSelect" process="@this"/>
                        </p:calendar>
                        <p:tooltip for="new-task-infoDate" value="Vorher Endzeitpunkt auswählen"/>
                    </h:panelGrid>
                    
                    <p:separator style="clear: both;"/>
                    
                    <p:dataTable var="parent" value="#{userListController.allEnabledParents}" widgetVar="parentTable" id="parentTable" scrollable="true" scrollHeight="150"
                                 emptyMessage="Keine Eltern gefunden" class="table" filteredValue="#{userListController.filteredParents}"
                                 selectionMode="single" selection="#{taskDetailController.parent}" rowKey="#{parent.id}" style="max-width: 600px; margin-top: 20px; ">
                        
                        <f:facet name="header">
                            <p:outputPanel class="header-text">
                                <h:outputText value="Suche nach Eltern " style="color: white; font-size: 16px;"/>
                                <p:inputText id="globalFilter" onkeyup="PF('parentTable').filter()" style="width: 200px; font-size: 14px;" placeholder="Name eingeben"/>
                            </p:outputPanel>
                        </f:facet>
                        
                        <p:column headerText="Bild" width="130px;" style="text-align: center;">
                            <h:commandButton image="/imageParent?id=#{parent.id}" actionListener="#{imageController.setSaveId(parent.id)}"  style="max-height: 45px;">
                                <p:ajax event="click" listener="#{imageController.setSaveId(parent.id)}" process="@this" update="@(.bP)" oncomplete="PF('pictureBig').show()"/>
                            </h:commandButton>
                        </p:column>
                        
                        <p:column headerText="Vorname" filterBy="#{parent.firstName}" filterMatchMode="contains" filterStyle="display: none;" width="200px;" sortBy="#{parent.firstName}">
                            <h:outputText value="#{parent.firstName}"/>
                        </p:column>    
                        
                        <p:column headerText="Nachname" filterBy="#{parent.lastName}" filterMatchMode="contains" filterStyle="display: none;" sortBy="#{parent.lastName}">
                            <h:outputText value="#{parent.lastName}" />
                        </p:column>                                
                        
                        
                        <p:ajax event="rowSelect" process="@this" update="parentTable">
                            <f:setPropertyActionListener value="#{parent.id}" target="#{taskDetailController.parentById}"/>
                        </p:ajax> 
                    </p:dataTable>  
                    
                    <p:separator/>
                    
                    <p:commandButton value="Aufgabe erstellen" process="new-task-input wrongInput @this"  actionListener="#{taskDetailController.saveCreated()}" 
                                     update="wrongInput :form:task-table" class="button-save">                        
                        
                    </p:commandButton>
                    <p:commandButton value="Abbrechen" action="#{taskDetailController.abort()}" process="@this" oncomplete="PF('create-task').hide();" class="button-abort"/>
                </p:dialog>
                
                
                <p:dialog header="Aufgabe verwalten" widgetVar="edit-task" modal="true" closeOnEscape="true">
                    <p:ajax event="close" listener="#{taskDetailController.abort()}"/>
                    <p:messages id="wrongInputEdit"/>
                    <h:panelGrid columns="1" id="config-task-input" class="grid col-md-5">
                        <p:outputLabel for="edit-task-subject" value="Bezeichnung:" class="intput-description" style="margin-top: 20px;"/>
                        <p:inputText id="edit-task-subject" class="input-field" value="#{taskDetailController.task.subject}" placeholder="Bezeichnung" required="true" requiredMessage="Eingabe bei Bezeichnung ist unzulässig!">
                            <f:validateLength minimum="2"/>
                        </p:inputText>                        
                        
                        <p:outputLabel for="edit-task-description" value="Beschreibung:" class="intput-description" style="margin-top: 20px;"/>
                        <p:inputTextarea id="edit-task-description" class="input-field" value="#{taskDetailController.task.description}" placeholder="Beschreibung" required="true" requiredMessage="Eingabe bei Beschreibung ist unzulässig!">
                            <f:validateLength minimum="2"/>
                        </p:inputTextarea>                       
                    </h:panelGrid>
                    
                    <h:panelGrid columns="1" id="config-task-date-input" class="grid col-md-5" style="margin-left: 40px; margin-bottom: 20px;">
                        <p:outputLabel for="edit-task-deadlineFrom" value="Beginnzeitpunkt:" class="intput-description" style="margin-top: 20px;"/>
                        <p:calendar id="edit-task-deadlineFrom" class="input-field-advanced" value="#{taskDetailController.deadlineFrom}" placeholder="Beginnzeitpunkt" locale="de" required="true" pattern="dd.MM.yyyy" mindate="#{taskDetailController.currentDay}" maxdate="#{taskDetailController.deadlineTo}" requiredMessage="Es muss ein Beginnzeitpunkt festgelegt werden!">
                            <p:ajax event="dateSelect" process="@this" update="edit-task-deadlineTo edit-task-infoDate"/>
                        </p:calendar>
                        
                        <p:outputLabel for="edit-task-deadlineTo" value="Endzeitpunkt:" class="intput-description" style="margin-top: 20px;"/>
                        <p:calendar id="edit-task-deadlineTo" class="input-field-advanced" value="#{taskDetailController.deadlineTo}" placeholder="Endzeitpunkt" required="true" locale="de" pattern="dd.MM.yyyy" mindate="#{taskDetailController.deadlineFrom}" requiredMessage="Es muss ein Endzeitpunkt festgelegt werden!">
                            <p:ajax event="dateSelect" process="@this" update="edit-task-deadlineFrom edit-task-infoDate"/>
                        </p:calendar>  
                            
                        <p:outputLabel for="edit-task-infoDate" value="Bekanntgabe:" class="intput-description" style="margin-top: 20px;"/>
                        <p:calendar id="edit-task-infoDate" class="input-field-advanced" value="#{taskDetailController.infoDate}" placeholder="Bekanntgabe" required="true" locale="de" pattern="dd.MM.yyyy" mindate="#{taskDetailController.deadlineFrom}" maxdate="#{taskDetailController.deadlineTo}" requiredMessage="Es muss ein Datum für die Bekanntgabe festgelegt werden!">
                            <p:ajax event="dateSelect" process="@this"/>
                        </p:calendar>
                    </h:panelGrid>
                    
                    <p:separator style="clear: both;"/>
                    
                    <p:dataTable var="parent" value="#{userListController.allEnabledParents}" widgetVar="editParentTable" id="editParentTable" scrollable="true" scrollHeight="150"
                                 emptyMessage="Keine Eltern gefunden" class="table" filteredValue="#{userListController.filteredParents}"
                                 selectionMode="single" selection="#{taskDetailController.parent}" rowKey="#{parent.id}" style="max-width: 600px; margin-top: 20px;">
                        
                        <f:facet name="header">
                            <p:outputPanel class="header-text">
                                <h:outputText value="Suche nach Eltern " style="color: white; font-size: 14px;"/>
                                <p:inputText id="globalFilter3" onkeyup="PF('editParentTable').filter()" style="width: 200px; font-size: 12px; font-weight: 300" 
                                             placeholder="Name eingeben"/>
                            </p:outputPanel>
                        </f:facet>
                        
                        <p:column headerText="Bild" width="130px;">
                            <h:commandButton image="/imageParent?id=#{parent.id}" actionListener="#{imageController.setSaveId(parent.id)}"  style="max-height: 45px;">
                                <p:ajax event="click" listener="#{imageController.setSaveId(parent.id)}" process="@this" update="@(.bP)" oncomplete="PF('pictureBig').show()"/>
                            </h:commandButton>
                        </p:column>
                        
                        <p:column headerText="Vorname" filterBy="#{parent.firstName}" filterMatchMode="contains" filterStyle="display: none;" width="200px;">
                            <h:outputText value="#{parent.firstName}"/>
                        </p:column>    
                        
                        <p:column headerText="Nachname" filterBy="#{parent.lastName}" filterMatchMode="contains" filterStyle="display: none;" >
                            <h:outputText value="#{parent.lastName}" />
                        </p:column>                                
                        
                        
                        <p:ajax event="rowSelect" process="@this" update="editParentTable">
                            <f:setPropertyActionListener value="#{parent.id}" target="#{taskDetailController.parentById}"/>
                        </p:ajax> 
                    </p:dataTable>  
                    
                    <p:separator/>
                    
                    <p:commandButton value="Speichern" process="@this config-task-input wrongInputEdit" actionListener="#{taskDetailController.saveChanges()}" 
                                     update="wrongInputEdit :form:task-table" class="button-save"/>                                                                    
                    <p:commandButton value="Abbrechen" actionListener="#{taskDetailController.abort()}" process="@this" update="form" 
                                     oncomplete="PF('edit-task').hide();" class="button-abort"/>
                </p:dialog>
                
                <p:dialog header="Bild" widgetVar="pictureBig" modal="true" closeOnEscape="true">                             
                    <p:graphicImage value="/imageParent?id=#{imageController.saveId}" style="max-height: 1000px; max-width: 1000px;"/>
                </p:dialog> 
                
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>                                
            </h:form>
        </div>
    </ui:define>
</ui:composition>