<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name="content">
        <h:outputStylesheet name="css/style-main.css" />
        <h:form>
                    
        <!--Render Menu for presentation site while logged out-->
        <h:panelGroup rendered="#{!sessionInfoBean.loggedIn}">
            
                <!-- Start of the logo/logout header-->
                <div class ="presentation-menu-bar">
                    <div class="presentation-logo">
                        <a href="/welcome.xhtml" id="logo-link">
                            <img src="../../resources/images/logo_white.png" id="logo-picture" style="max-width: 80%;"/>
                        </a>
                    </div>
                </div>
        </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>